.addPhoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/product_add_photo.png);
}
.addPhoto:hover{
    background-image: url(../../../images/product_add_photo_hover.png) !important;
}

.cartOrderPlus{
    border:1px solid black;
    cursor: pointer;
    border-radius:50%;
    padding: 10px 10px 5px 10px;
}

.checkbox-style .checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}

.checkbox-style .checkbox + label {
    cursor: pointer;
}


.checkbox-style .checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox-style .checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}

.checkbox-style .checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox-style .checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}

.checkbox-style .checkbox:checked + label:before {
    background: #9FD468;
}

.checkbox-style .checkbox:checked + label:after {
    left: 26px;
}

.checkbox-style .checkbox:focus + label:before {

}