@font-face {
  font-family: 'Candara';
  src: url('Candara.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Candara Bold';
  src: url('CandaraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}


@font-face {
  font-family: "GothamProRegular";
  src: url("GothamPro/GothamProRegular/GothamProRegular.eot");
  src: url("GothamPro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("GothamPro/GothamProBold/GothamProBold.eot");
  src: url("GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
  url("GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url("GothamPro/GothamProBlack/GothamProBlack.eot");
  src: url("GothamPro/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProBlack/GothamProBlack.woff") format("woff"),
  url("GothamPro/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProItalic";
  src: url("GothamPro/GothamProItalic/GothamProItalic.eot");
  src: url("GothamPro/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProItalic/GothamProItalic.woff") format("woff"),
  url("GothamPro/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMedium";
  src: url("GothamPro/GothamProMedium/GothamProMedium.eot");
  src: url("GothamPro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"),
  url("GothamPro/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight";
  src: url("GothamPro/GothamProLight/GothamProLight.eot");
  src: url("GothamPro/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProLight/GothamProLight.woff") format("woff"),
  url("GothamPro/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("GothamPro/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("GothamPro/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
  url("GothamPro/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLightItalic";
  src: url("GothamPro/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("GothamPro/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
  url("GothamPro/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBoldItalic";
  src: url("GothamPro/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("GothamPro/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
  url("GothamPro/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlackItalic";
  src: url("GothamPro/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("GothamPro/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("GothamPro/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
  url("GothamPro/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}