@media (max-width: 1300px){
  .students-box {
    .student-card{
      width: unquote("calc( 100% / 3 )");
    }
  }
}
@media  (max-width: 1140px){
  .wrap-limiter {
    overflow: hidden;
  }
  
  .wrap{
    &.fixed-header{
      padding-top: 0;
      .site-header{
        width: 100%;
        position: relative;
        top:0;
        left: 0;
        z-index: 10;
      }
    }
    &.fixed-sidebar{
      .wrap-limiter{
        position: relative;
        aside.left-sidebar{
          position: relative;
          top: 0;
          left: 0;
          z-index: 10;
        }
        main.main-content{
          transform: none;
        }
      }
    }
    &.fixed-right-menu{
      .wrap-limiter{
        position: relative;
        aside.right-sidebar{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 10;
        }
      }
    }
  }
}
@media  (max-width: 1250px){
  .post-btn, .photo-btn, .video-btn, .event-btn{
    padding: 0 8px;
  }
}