body {
  min-width: auto;
}

.wrap-limiter {
  width: 100%;
  max-width: 768px;
  min-width: auto;
  overflow: hidden;
}

.m-device-hide {
  display: none !important;
}

.m-device-show {
  display: block !important;
}

.mobile-100{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  transition: all 2s ease-in-out;
  margin-bottom: 10px;
  &.m-p-10{
    padding: 0 !important;
  }
  .btn-expand{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    .fa-chevron-circle-down{
      display: inline-block;
    }
    .fa-chevron-circle-up{
      display: none;
    }
    &.open{
      .fa-chevron-circle-up{
        display: inline-block;
      }
      .fa-chevron-circle-down{
        display: none;
      }
    }
  }
  &.expanded{
    transition: all 2s ease-in-out;
    height: 50px !important;
    overflow: hidden;
  }
}


.wrap {
  &.fixed-header {
    padding-top: 60px;
    .site-header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
    }
  }
  &.fixed-right-menu{
    .wrap-limiter {
      position: relative;
      aside.right-sidebar {
        position: fixed;
        top: 60px;
        z-index: 10;
        min-height: 100vh;
        height: 100%;
        right: 0;
      }
    }
  }
}

.main-menu {
  position: fixed;
  float: none;
  height: 100vh;
  top: 0;
  left: 0;
  width: 80%;
  background: #221538;
  box-shadow: 0 10px 15px rgba($color: #1c2b42, $alpha: 0.25);
  padding: 10px 15px;
  transform: translateX(unquote("calc( -100% - 15px )"));
  transition: 0.2s ease-in-out;
  &.show {
    transform: translateX(0);
  }
  ul.navbar-nav>li.nav-item {
    display: block;
    margin: 0;
    a.nav-link {
      padding: 11px 0;
      border: 0;
    }
    &:not(:first-child) {
      border-top: 1px solid rgba($color: #d0d2d5, $alpha: 0.1);
      min-height: 50px;
    }
    .dropdown-menu {
      position: relative;
      background: transparent;
      a {
        color: #f9f7fb;
        font-size: 15px;
        font-family: 'Candara';
      }
    }
  }
}

.m-w-60 {
  max-width: 60%;
}

.m-w-40 {
  max-width: 40%;
}

.new-post {
  .post-user {
    width: 40px !important;
    img {
      width: 35px;
      height: 35px;
    }
  }
  form {
    width: unquote("calc( 100% - 40px )") !important;
    .post-textarea .form-group textarea {
      padding: 10px 80px 10px 15px !important;
    }
  }
}

.post-view-container {
  .stats{
    .likes{
      font-size: 13px !important;
      &:before{
        margin: 0 5px !important;
      }
    }
    .comments{
      font-size: 13px !important;
      &:before{
        margin: 0 5px !important;
      }
    }
    .views{
      font-size: 13px !important;
      &:before{
        margin: 0 5px !important;
      }
    }
  }
  .view-post-items .view-post-item {
    .post-user-avatar .user-avatar {
      width: 35px;
      height: 35px;
    }
    .post-data .post-user-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 115px;
      overflow: hidden;
    }
    .comment-content .comment-user-avatar .comment-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

.students-box {
  .student-card{
    width: unquote("calc( 100% )");
  }
}

.wrap.fixed-right-menu .wrap-limiter main.main-content {
  width: unquote("calc( 100% )");
}

aside.right-sidebar {
  width: 270px;
  transform: translateX(270px) !important;
  transition: transform 0.6s ease-in-out;
  box-shadow: none;
  z-index: 10;
  &.open{
    box-shadow: 0 0 20px rgba($color: #1c2b42, $alpha: 0.25);
    transform: translateX(0) !important;
    .open-panel-btn{
      background: #ffffff;
      &:after{
        background: url("/images/arrow-sprite.png") right 0 no-repeat;
      }
    }
  }
  .open-panel-btn{
    display: none;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 10px;
    left: -30px;
    border-radius: 6px 0 0 6px;
    background: rgba($color: #221538, $alpha: 0.8);
    &:after{
      display: block;
      content: '';
      width: 9px;
      height: 15px;
      background: url("/images/arrow-sprite.png") left 0 no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}