@media (max-width: 767px){
  aside.left-sidebar {
    display: none;
  }
  main.main-content{
    width: 100%;
    .left-content, .right-content{
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
    }
    .right-content{
      margin-top: 10px;
    }
  }
}