$width-r-panel: 270px;

body {
  background: url("/images/university-bg.jpg") center/cover no-repeat;
  background-attachment: fixed;
  min-width: 1140px;
}

.wrap-limiter {
  width: 100%;
  max-width: 1600px;
  min-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.navbar {
  padding: 0;
  display: block;
  height: 60px;
  .navbar-brand{
    float: left;
    margin-top: 7px;
  }
  &:after{
    display: block;
    content: '';
    clear: both;
  }
  .menu-toggler{
    width: 20px;
    height: 13px;
    float: left;
    margin: 24px 24px 0 0;
    cursor: pointer;
    display: none;
    &:before{
      display: block;
      content: '';
      width: 100%;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #9892a2;
    }
    .line{
      content: '';
      width: 100%;
      height: 2px;
      background: #c4c1ca;
      margin-top: 3px;
    }
    &:after{
      display: block;
      content: '';
      width: 100%;
      border-top: 1px solid #898295;
      border-bottom: 1px solid #ffffff;
      margin-top: 3px;
    }
  }
}
.main-menu{
  float: right;
  margin-top: 9px;
}
.main-menu-profile{
  display: inline-block;
  float: right;
  margin-top: 9px;
}
.bg-violet {
  background: #221538;
}
ul.navbar-nav{
  display: block;
}
ul.navbar-nav > li.nav-item {
  display: inline-block;
  margin-left: 25px;
  .close-menu{
    width: 15px;
    height: 15px;
    background: url("/images/close-menu.png");
    cursor: pointer;
    margin: 5px 0 21px 0;
    display: none;
  }
}
ul.navbar-nav > li.nav-item > a.nav-link {
  color: #f9f7fb;
  font-size: 15px;
  font-family: 'Candara';
  &.hover {
    border-bottom: 2px solid transparent;
    transition: 0.1s;
    padding-bottom: 17px;
  }
  &.hover:hover{
    border-color: #33e7c5;
  }
  .profile-avatar{
    width: 34px;
    height: 34px;
    transform: translateY(-5px);
  }
}

ul.navbar-nav>li.nav-item>a.nav-link:after {
  display: none;
}

ul.navbar-nav>li.nav-item.university-icon>a.nav-link:before,
ul.navbar-nav>li.nav-item.service-icon>a.nav-link:before,
ul.navbar-nav>li.nav-item.trending-icon>a.nav-link:before,
ul.navbar-nav>li.nav-item.message-icon>a.nav-link:before,
ul.navbar-nav>li.nav-item.notification-icon>a.nav-link:before,
ul.navbar-nav>li.nav-item.business-icon>a.nav-link:before {
  display: inline-block;
  content: '';
  width: 17px;
  height: 17px;
  transform: translateY(3px);
  margin-right: 15px;
}

ul.navbar-nav>li.nav-item.university-icon>a.nav-link:before {
  background: url("/images/top-menu-sprite.png") center 0 no-repeat;
}

ul.navbar-nav>li.nav-item.service-icon>a.nav-link:before {
  background: url("/images/top-menu-sprite.png") center -59px no-repeat;
}

ul.navbar-nav>li.nav-item.business-icon>a.nav-link:before {
  background: url("/images/top-menu-sprite.png") center -118px no-repeat;
}

ul.navbar-nav>li.nav-item.trending-icon>a.nav-link:before {
  background: url("/images/top-menu-sprite.png") center -118px no-repeat;
}

ul.navbar-nav>li.nav-item.message-icon>a.nav-link:before {
  background: url("/images/top-menu-sprite.png") center -177px no-repeat;
}

ul.navbar-nav>li.nav-item.notification-icon>a.nav-link:before {
  background: url("/images/top-menu-sprite.png") center -236px no-repeat;
}

ul.navbar-nav>li.nav-item.notification-icon>a.nav-link {
  position: relative;
}

ul.navbar-nav>li.nav-item.notification-icon>a.nav-link>span.badge {
  width: 15px;
  height: 15px;
  color: #f9f7fb;
  font-size: 11px;
  font-family: 'Candara';
  text-align: center;
  font-weight: 100;
  line-height: 9px;
  border-radius: 50%;
  background: #f95c86;
  position: absolute;
  top: 5px;
  left: 18px;
}
.navbar-nav .dropdown-menu {
  position: absolute;
  &.dropdown-menu-right{
    right: 0;
    left: auto;
  }
}

.university-view {
  background: url("/images/university-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 10px;
  min-height: unquote("calc( 100vh - 60px )");
}

aside.left-sidebar {
  width: 251px;
  height: unquote("calc( 100vh - 82px )");
  border-radius: 6px;
  background: #f8f4f7;
  float: left;
  margin-top: 10px;
  padding: 10px;
  min-height: 438px;
  .academy-data{
    margin: 0 -10px;
    border-bottom: 1px solid #d0d2d5;
    padding: 0 10px;
    .academy-logo{
      width: 100%;
    }
    .academy-name{
      margin-top: 10px; 
      color: #231d2e;
      font-size: 14px;
      font-family: 'Candara';
      font-weight: 600;
    }
    .academy-rating{
      margin-bottom: 6px; 
      .academy-rating-title{
        display: inline-block;
        min-width: 60px;
        color: #989898;
        font-size: 13px;
        font-family: 'Candara';
        font-weight: 400;
      }
      .custom-stars{
        transform: translateY(-3px);
      }
    }
  }
  .academy-search{
    margin-top: 10px;
    input[type="text"]{
      width: 100%;
      height: 38px;
      border: 1px solid #d0d2d5;
      border-radius: 3px;
      padding: 0 40px 0 18px;
      outline: none;
      font-size: 14px;
      font-family: 'Candara';
      font-weight: 400;
      color: #231d2e;
      background: url("/images/icon/search-icon.png") unquote("calc( 100% - 16px )") center no-repeat, #ffffff;
    }
  }
  .nav.nav-tabs{
    height: 50px;
    border-radius: 6px 6px 0 0;
    padding: 0;
    margin: 0 -10px;
    .nav-item{
      margin: 0;
      &:nth-child(1),
      &:nth-child(3){
        width: 35.5%;
      }
      &:nth-child(2){
        width: 29%;
      }
      a.nav-link{
        display: block;
        color: rgba($color: #231d2e, $alpha: 0.6);
        background-color: transparent;
        border: 0;
        height: 49px;
        border-bottom: 3px solid transparent;
        line-height: 49px;
        font-size: 14px;
        font-family: 'Candara';
        cursor: pointer;
        padding: 0 18px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        &.active{
          border-color: #31e7c5;
          color: #231d2e;
        }
      }
    }
  }
  .tab-content{
    margin: 0 -10px;
    position: relative;
    min-height: 100px;
    max-height: unquote("calc( 100vh - 405px )");
    overflow-y: auto;
  }
}
.calendar-widget{
  background: #f6f7fb;
  border-radius: 6px;
  padding: 0 10px 10px 10px;
  margin-top: 10px;
  .calendar-view{
    width: unquote("calc( 100% - 60px )");
    float: left;
    margin-left: -10px;
    border-bottom: 1px solid #d0d2d5;
    height: 61px;
    .pagination>li>a, 
    .pagination>li>span{
      border: 0;
      background-color: transparent;
    }
    .pagination {
      .dp-nav{
        position: relative;
        transform: translateY(2px);
        i{
          display: none !important;
        }
        &.dp-nav-left:before{
          display: block;
          width: 9px;
          height: 14px;
          content: '';
          background: url("/images/arrow-sprite.png") 0 center;
          margin-left: 10px;
        }
        &.dp-nav-right:before{
          display: block;
          width: 9px;
          height: 14px;
          content: '';
          background: url("/images/arrow-sprite.png") -20px center;
          margin-right: 10px;
        }
      }
      .dp-item{
        border-bottom: 3px solid transparent !important;
        color: rgba($color: #231d2e, $alpha: 0.6);
        font-size: 14px;
        font-family: 'Candara';
        font-weight: 600;
        padding-top: 10px !important;
        b{
          color: #231d2e;
        }
        &.dp-off {
          background-color: transparent !important;
        }
        &.dp-today{
          background: none !important;
          border-color: rgba($color: #31e7c5, $alpha: 0.3) !important;
          color: rgba($color: #231d2e, $alpha: 0.6) !important;
        }
        
        &.dp-divider{
          border: 0 !important;
        }
        &.dp-selected{
          background-color: transparent !important;
          color: rgba($color: #231d2e, $alpha: 0.6) !important;
          border-bottom: 3px solid #31e7c5 !important;
          b{
            color: #231d2e !important;
          }
        }
      }
    }
  }
  .calendar-custom{
    width: 80px;
    height: 61px;
    float: right;
    margin-right: -10px;
    border-bottom: 1px solid #d0d2d5;
    button.custom-today{
      font-size: 14px;
      font-family: 'Candara';
      font-weight: 600;
      color: #f96b90;
      height: 20px;
      margin-top: 20px;
      border: 0;
      outline: none;
      text-transform: uppercase;
      cursor: pointer;
      background: transparent;
    }
    button.custom-add-event{
      width: 20px;
      height: 20px;
      background: url("/images/add-btn.png");
      border: 0;
      outline: none;
      margin-left: 10px;
      transform: translateY(4px);
      box-shadow: 0 4px 6px rgba(61, 227, 196, 0.5);
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      display: none;
      cursor: pointer; 
      &:hover{
        box-shadow: none;
      }
    }
  }
  &.show-btn-event{
    .calendar-view{
      width: unquote("calc( 100% - 90px )");
    }
    .calendar-custom{
      width: 110px;
      button.custom-add-event{
        display: inline-block;
      }
    }
  }
  .calendar-widget-content{
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    color: #231d2e;
    margin-top: 10px;
  }
}

.custom-stars{
  display: inline-block;
  .rating-container{
    font-size: 0em;
    .rating-stars{
      .empty-stars{
        color: #989898;
        .star{
          color: #989898;
          font-size: 13px;
          & > i{
            font-size: 13px; 
          }
        }
      }
      .filled-stars{
        color: #31e7c5;
        .star{
          color: #31e7c5;
          font-size: 13px;
          & > i{
            font-size: 13px; 
            text-shadow: none;
            -webkit-text-stroke: #31e7c5;
            -moz-text-stroke: #31e7c5;
            -o-text-stroke: #31e7c5;
          }
        }
      }
    }
  }
}
aside.right-sidebar {
  width: 270px;
  height: unquote("calc( 100vh - 68px )");
  background: #ffffff;
  float: right;
  margin-top: 0;
  transform: translateX(220px);
  transition: transform 0.6s ease-in-out;
  z-index: 10;
  box-shadow: 0 0 20px rgba($color: #1c2b42, $alpha: 0.25);
  .open-panel-btn{
    display: none;
  }
  &:hover, &.open{
    transform: translateX(0);
  }
  a{
    display: block;
    width: 100%;
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #d0d2d5;
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    cursor: pointer;
    padding-left: 50px;
    position: relative;
    text-decoration: none;
    img{
      display: block;
      width: 16px;
      position: absolute;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover{
      background: rgba($color: #231d2e, $alpha: 0.05);
    }
  }
  .my-scroll{
    max-height: 100vh;
  }
}

aside.left-sidebar>img {
  border-radius: 6px 6px 0 0;
}

main.main-content {
  width: unquote("calc( 100% - 251px )");
  height: auto;
  float: left;
  margin-top: 10px;
  .left-content,
  .right-content {
    padding-left: 10px;
  }
  .new-post {
    background: #f6f7fb;
    border-radius: 6px;
    padding: 0 10px 10px 10px;
    .panel-btns {
      height: 50px;
      .post-btn, .photo-btn, .video-btn, .event-btn{
        color: #231d2e;
        font-size: 14px;
        font-family: 'Candara';
        font-weight: 600;
        cursor: pointer;
        padding-left: 10px;
      }
      .post-btn:before{
        width: 18px;
        height: 18px;
        display: inline-block;
        content: '';
        background: url("/images/new-post-sprite.png") center 2px no-repeat;
        transform: translateY(4px);
        margin-right: 10px;
      }
      .photo-btn:before{
        width: 18px;
        height: 18px;
        display: inline-block;
        content: '';
        background: url("/images/new-post-sprite.png") center -36px no-repeat;
        transform: translateY(4px);
        margin-right: 10px;
      }
      .video-btn:before{
        width: 18px;
        height: 18px;
        display: inline-block;
        content: '';
        background: url("/images/new-post-sprite.png") center -72px no-repeat;
        transform: translateY(4px);
        margin-right: 10px;
      }
      .event-btn:before{
        width: 18px;
        height: 18px;
        display: inline-block;
        content: '';
        background: url("/images/new-post-sprite.png") center -109px no-repeat;
        transform: translateY(4px);
        margin-right: 10px;
      }
    }
    .post-user {
      width: 60px;
    }
    form {
      width: unquote("calc( 100% - 60px)");
      .post-textarea {
        width: 100%;
        position: relative;
        .form-group {
          margin: 0;
          textarea {
            background: white;
            border: 1px solid #d0d2d5;
            height: 60px;
            min-height: 60px;
            border-radius: 5px;
            resize: vertical;
            outline: none;
            padding: 15px 80px 15px 20px;
            color: #231d2e;
            font-size: 15px;
            font-family: 'Candara';
          }
        }
        .attach-btn{
          width: 20px;
          height: 11px;
          background: url("/images/attach-file.png");
          position: absolute;
          top: 26px;
          right: 70px;
          cursor: pointer;
        }
        .create-post {
          width: 40px;
          height: 40px;
          background: url("/images/send-btn.png") 13px center no-repeat, #31e7c5;
          box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5);
          position: absolute;
          top: 10px;
          right: 10px;
          border: 0;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          &:hover{
            box-shadow: none;
          }
        }
      }
    }
  }
  .home-carousel {
    .carousel-item img {
      border-radius: 6px;
    }
  }
}

.post-view-container{
  margin-top: 10px;
  .nav.nav-tabs{
    height: 50px;
    background: #f6f7fb;
    border-radius: 6px 6px 0 0;
    padding: 0;
    .nav-item{
      margin: 0;
      a.nav-link{
        display: inline-block;
        color: rgba($color: #231d2e, $alpha: 0.6);
        background-color: transparent;
        border: 0;
        height: 49px;
        border-bottom: 3px solid transparent;
        line-height: 49px;
        font-size: 14px;
        font-family: 'Candara';
        cursor: pointer;
        padding: 0 18px;
        font-weight: 600;
        text-transform: uppercase;
        &.active{
          border-color: #31e7c5;
          color: #231d2e;
        }
      }
    }
  }
  .view-post-items{
    .view-post-item{
      background: #f6f7fb;
      border-radius: 6px;
      padding: 10px;
      margin-top: 10px;
      &:first-child{
        border-radius: 0 0 6px 6px;
        margin-top: 0;
      }
      .post-user-avatar{
        .user-avatar{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      .post-data{
        margin-left: 10px;
        .post-user-name{
          font-size: 14px;
          font-family: 'Candara';
          color: #231d2e;
          font-weight: 600;
        }
        .post-datetime{
          font-size: 12px;
          font-family: 'GothamProLight';
          color: #989898;
          font-weight: 300;
        }
      }
      .stats{
        .likes{
          font-size: 14px;
          color: rgba($color: #231d2e, $alpha: 0.6);
          &:before{
            display: inline-block;
            width: 18px;
            height: 18px;
            content: '';
            background: url("/images/post-sprite.png") center 0 no-repeat;
            transform: translateY(4px);
            margin: 0 10px;
          }
        }
        .comments{
          font-size: 14px;
          color: rgba($color: #231d2e, $alpha: 0.6);
          &:before{
            display: inline-block;
            width: 18px;
            height: 18px;
            content: '';
            background: url("/images/post-sprite.png") center -33px no-repeat;
            transform: translateY(4px);
            margin: 0 10px;
          }
        }
        .views{
          font-size: 14px;
          color: rgba($color: #231d2e, $alpha: 0.6);
          &:before{
            display: inline-block;
            width: 18px;
            height: 18px;
            content: '';
            background: url("/images/post-sprite.png") center -69px no-repeat;
            transform: translateY(4px);
            margin: 0 10px;
          }
        }
      }
    }
    .post-content{
      font-size: 16px;
      color: rgba($color: #231d2e, $alpha: 0.9);
      margin-top: 15px;
    }
    .post-files{
      margin: 0 -5px 10px -5px;
      .well{
        width: 100%;
        padding: 0 5px;
        margin-top: 10px;
        .media-item{
          width: 100%;
          background: rgba(0, 0, 0, 0.9);
          display: flex;
          height: 100%;
          img{
            max-width: 100%;
            object-fit: contain;
            margin: 0 auto;
          }
        }
      }
    }
    .comment-form{
      .form-group{
        margin: 0;
        &.field-postcomment-content{
          textarea{
            background: white;
            border: 1px solid #d0d2d5;
            height: 40px;
            min-height: 40px;
            border-radius: 5px;
            resize: vertical;
            outline: none;
            padding: 7px 60px 7px 20px;
            color: #231d2e;
            font-size: 15px;
            font-family: 'Candara';
          }
        }
      }
      button.write-comment{
        width: 18px;
        height: 16px;
        background: url("/images/send-green-btn.png");
        position: absolute;
        top: 14px;
        right: 16px;
        border: 0;
        outline: none;
      }
    }
  }
  .comment-content{
    margin-top: 18px;
    .comment-user-avatar{
      .comment-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

#js-preview-post-image .images-block {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 2px;
  position: relative;
  background-size: cover;
}

.students-box {
  margin: -10px -5px 0 -5px;
  padding-top: 10px;
  .student-card{
    width: unquote("calc( 100% / 4 )");
    padding: 0 5px;
    margin-bottom: 10px;
    .student-card-content{
      padding: 10px;
      background: rgba($color: #ffffff, $alpha: 0.9);
      border-radius: 6px;
      box-shadow: 0 10px 20px rgba($color: #1c2b42, $alpha: 0.24);
      .student-card-avatar{
        width: 100%;
        height: 170px;
      }
      .student-card-name{
        color: #231d2e;
        font-size: 17px;
        font-family: 'Candara';
        font-weight: 600;
        margin-top: 20px;
        padding: 0 7px;
        &.online:after{
          display: inline-block;
          content: '';
          width: 7px;
          height: 7px;
          background-color: #31e7c5;
          border-radius: 50%;
          margin-left: 8px;
          transform: translateY(-2px);
        }
      }
      .student-card-status{
        color: #989898;
        font-size: 14px;
        font-family: 'Candara';
        font-weight: 400;
        padding: 0 7px;
        span{
          color: #221538;
        }
      }
      .student-card-rating{
        margin-bottom: 6px;
        padding: 0 7px;
        .rating-title{
          display: inline-block;
          min-width: 60px;
          color: #989898;
          font-size: 13px;
          font-family: 'Candara';
          font-weight: 400;
        }
        .custom-stars{
          transform: translateY(-3px);
        }
      }
      .student-card-btn{
        display: block;
        width: unquote("calc( 100% - 20px )");
        margin: 15px auto;
        height: 40px;
        border-radius: 20px;
        outline: none;
        border: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Candara';
        font-weight: 400;
        color: #f6f7f9;
        background-color: #c6c6c8;
        box-shadow: 0 4px 12px rgba($color: #c6c6c8, $alpha: 0.5);
        transition: 0.2s;
        cursor: pointer;
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
}

.open-menu{
  overflow: hidden;
}
.m-p-10{
  padding-left: 10px !important;
}
.majors-box{
  background: rgba($color: #ffffff, $alpha: 0.9);
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba($color: #1c2b42, $alpha: 0.24);
  height: unquote("calc( 100vh - 82px )");
  min-height: 438px;
  .majors-head{
    height: 50px;
    border-bottom: 1px solid #d0d2d5;
    text-transform: uppercase;
    text-align: center;
    color: #231d2e;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 600;
    line-height: 49px;
    .btn-expand{
      display: none;
    }
  }
  .majors-block{
    max-height: unquote("calc( 100% - 50px )");
    .major-item{
      display: block;
      cursor: pointer;
      padding: 15px 6%;
      color: #231d2e;
      font-size: 14px;
      font-family: 'Candara';
      font-weight: 600;
      position: relative;
      
      &:after{
        display: block;
        content: '';
        border-bottom: 1px solid #d0d2d5;
        position: absolute;
        bottom: 0;
        left: 6%;
        width: 88%; 
      }
      &.active, &:hover{
        background-color: #31e7c5;
        color: white; 
        &:after{
          border-bottom: 1px solid transparent; 
        }
      }
      &:last-child{
        &:after{
          border-bottom: 1px solid transparent; 
        }
      }
    }
  }
}
.courses-box{
  background: rgba($color: #ffffff, $alpha: 0.9);
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba($color: #1c2b42, $alpha: 0.24);
  height: unquote("calc( 100vh - 82px )");
  min-height: 438px;
  .courses-head{
    height: 50px;
    border-bottom: 1px solid #d0d2d5;
    text-transform: uppercase;
    text-align: center;
    color: #231d2e;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 600;
    line-height: 49px;
    .btn-expand{
      display: none;
    }
  }
  .courses-block{
    max-height: unquote("calc( 100% - 50px )");
    .courses-item{
      display: block;
      cursor: pointer;
      padding: 15px 6%;
      color: #231d2e;
      font-size: 14px;
      font-family: 'Candara';
      font-weight: 600;
      position: relative;
      
      &:after{
        display: block;
        content: '';
        border-bottom: 1px solid #d0d2d5;
        position: absolute;
        bottom: 0;
        left: 6%;
        width: 88%; 
      }
      &.active, &:hover{
        background-color: #31e7c5;
        color: white; 
        &:after{
          border-bottom: 1px solid transparent; 
        }
      }
      &:last-child{
        &:after{
          border-bottom: 1px solid transparent; 
        }
      }
    }
  }
}
.classes-box{
  background: rgba($color: #ffffff, $alpha: 0.9);
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba($color: #1c2b42, $alpha: 0.24);
  height: unquote("calc( 100vh - 82px )");
  min-height: 438px;
  .classes-head{
    height: 50px;
    border-bottom: 1px solid #d0d2d5;
    text-transform: uppercase;
    text-align: center;
    color: #231d2e;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 600;
    line-height: 49px;
    .btn-expand{
      display: none;
    }
  }
  .classes-block{
    max-height: unquote("calc( 100% - 50px )");
    overflow-x: auto; 
    .grid-view{
      .summary{
        display: none;
      }
      table.table{
        width: 100%;
        border: 0;
        thead th{
          border: 0;
          color: #989898;
          font-size: 15px;
          font-family: 'Candara';
          font-weight: 400;
          a{
            color: #989898;
          }
        }
        tbody{
          tr:nth-of-type(odd){
            background: transparent;
          }
          td{
            padding: 0 10px;
            vertical-align: middle;
            border: 0;
            border-bottom: 1px solid #d0d2d5;
            height: 50px;
            &:nth-child(2){
              color: #231d2e;
              font-size: 14px;
              font-family: 'Candara';
              font-weight: 600;
            }
            &.professor-data{
              min-width: 160px;
              img.professor-avatar{
                width: 30px;
                height: 30px;
                float: left;
                border-radius: 50%;
              }
              .professor-name{
                width: unquote("calc( 100% - 40px )");
                float: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #231d2e;
                font-size: 14px;
                font-family: 'Candara';
                font-weight: 600;
              }
            }
            &.professor-status{
              color: #231d2e;
              font-size: 14px;
              font-family: 'Candara';
              font-weight: 600;
            }
            &.professor-students{
              color: #231d2e;
              font-size: 14px;
              font-family: 'Candara';
              font-weight: 600;
            }
            &.professor-rank{
              color: #231d2e;
              font-size: 14px;
              font-family: 'Candara';
              font-weight: 600;
            }
            &.professor-btn{
              .action-btn{
                display: block;
                height: 40px;
                background-color: #31e7c5;
                box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5);
                border: 0;
                border-radius: 20px;
                outline: none;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                padding: 0 15px;
                color: #ffffff;
                font-size: 14px;
                font-family: 'Candara';
                font-weight: 600;
                text-transform: uppercase;
                line-height: 40px;
                text-align: center;
                text-decoration: none;
                &:hover{
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
.wrap {
  &.fixed-header {
    padding-top: 60px;
    .site-header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
    }
  }
  &.fixed-sidebar {
    .wrap-limiter {
      position: relative;
      aside.left-sidebar {
        position: fixed;
        top: 60px;
        z-index: 10;
      }
      main.main-content {
        transform: translateX(251px);
      }
    }
  }
  &.fixed-right-menu{
    .wrap-limiter {
      position: relative;
      aside.right-sidebar {
        position: fixed;
        top: 60px;
        z-index: 10;
        min-height: 100vh;
        height: 100%;
        right: 0;
      }
      main.main-content {
        width: unquote("calc( 100% - 251px - 50px)");
      }
    }
  }
}

.my-scroll {
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    background-color: #d0d2d5;
    border-radius: 3px;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #d0d2d5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #9da5b0;
    border-radius: 2px;
  }
}