.post-author-user{
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 42px;
    padding-left: 20px !important;
    border-bottom: 1px solid #d0d2d5;
    .user-avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: left;
    }
    .post-data{
        margin-left: 10px;
        .post-user-name{
            font-size: 14px;
            font-family: 'Candara';
            color: #231d2e;
            font-weight: 600;
            letter-spacing: 1px;
        }
        .post-datetime{
            font-size: 12px;
            font-family: 'GothamProLight';
            color: #989898;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}
.comment-content{
    padding-left: 20px !important;
    .comment-user-avatar{
        .comment-avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            float: left;
        }
    }
    .post-data{
        margin-left: 10px;
        .post-user-name{
            font-size: 14px;
            font-family: 'Candara';
            color: #231d2e;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
        .post-datetime{
            font-size: 12px;
            font-family: 'GothamProLight';
            color: #989898;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
    .post-content{
        font-family: 'Candara';
        font-weight: 300;
        font-size: 14px;
        color: #231d2e;
        padding-left: 50px;
        padding-top: 17px;
        margin-bottom: 25px;
        letter-spacing: 1px;
        padding-right: 30px;
    }
}
.media-border{
    border-right: 1px solid #d0d2d5;
    p{
        padding-left: 30px;
        margin-top: 35px;
        margin-bottom: 35px;
        padding-right: 30px;
    }
    .media-item{
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }
}
.comment-form-created{
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #d0d2d5;
    padding-top: 17px;
    position: fixed;
    padding-left: 20px !important;
    padding-bottom: 11px;
    padding-right: 16px !important;
    .comment-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
    }
    #create-form-item{
        .field-postcomment-content{
            float: left;
            padding-left: 10px;
            margin-bottom: 0;
            width:  unquote("calc( 100% - 40px )");
            textarea{
                background: white;
                border: 1px solid #d0d2d5;
                height: 40px;
                min-height: 40px;
                border-radius: 5px;
                resize: vertical;
                outline: none;
                padding: 7px 60px 7px 20px;
                color: #231d2e;
                font-size: 15px;
                font-family: 'Candara';
            }
        }
        button.write-comment{
            width: 18px;
            height: 16px;
            background: url(/images/send-green-btn.png);
            position: absolute;
            top: 29px;
            right: 36px;
            border: 0;
            outline: none;
        }
    }
}
.comments-popap-maine-container{
    .jconfirm-closeIcon{
        top: 20px !important;
        right: 20px !important;
        color: #31e7c5;
        opacity: 1 !important;
    }
    .jconfirm-box{
        padding: 0 !important;
    }
    .jconfirm-content-pane{
        overflow: hidden !important;
        margin-bottom: -6px!important;
    }
}
@media (max-width: 767px){
    .media-border{    
        .media-item {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .media-border{   
        p{
            padding-left: 30px;
            margin-top: 35px;
            margin-bottom: 35px;
            padding-right: 30px;
        }
    } 
}