div.tutor-profile{
	padding:0px 0px 0px 10px;
}
div.tutor-profile .tutor-p{
    border-radius: 6px;
    background: rgb(248, 244, 247);
    padding: 10px;
}
div.tutor-profile h3.name-user{
	font-size: 17px;
	color: #231d2e;
	font-weight: bold;
	font-family: 'Candara';
	margin-bottom: 0px;
}
div.tutor-profile .user-block text{
	font-size: 15px;
	color: #989898;
	font-weight: 200;
	font-family: 'Candara';
}
div.tutor-profile .rating-stars span i{
	font-size: 13px;
	vertical-align: inherit;
	margin-top: -6px;
}
div.tutor-profile .rating-stars .filled-stars span i{
	color: #31e7c5;
	text-shadow: none;
    -webkit-text-stroke: #31e7c5;
}
div.tutor-profile .rating-container{
	display: inline-block;
}
div.tutor-profile .rating-xs{
	font-size: 13px;
}
div.tutor-profile .user-table td{
	border-top: 0px;
	padding-top: 0px;
	color: #231d2e;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Candara';
}
div.tutor-profile .user-table{
	margin-bottom: 0px;
	margin-top: 10px;
}

div.tutor-profile .user-table .category{
	font-size: 15px;
	color: #989898;
	font-weight: 200;
	font-family: 'Candara';
	padding-left: 0px;
	width: 50px;
}
div.tutor-profile .user-table td{
	
	padding-bottom: 5px !important;
}
div.tutor-profile .user-image{
	padding-right: 31px;
}
div.tutor-profile .button-block{
	text-align: right;
}
div.tutor-profile .button-block a.btn-danger{
	background-image: url(/images/delete.png);
	background-size: 14px;
	background-repeat: no-repeat;
	background-color: transparent;
	border:0px;
	padding-right: 1px;
}
div.tutor-profile .button-block a.btn-primary{
	background-image: url(/images/update.png);
	background-size: 12px;
	background-repeat: no-repeat;
	background-color: transparent;
	border:0px;
	padding-right: 5px;
}
div.tutor-profile .button-block a.btn-primary:active{
	background-image: url(/images/update.png);
}
div.tutor-profile .button-block a.btn-danger:active{
	background-image: url(/images/delete.png);
}
div.tutor-profile .button-block a:hover,
div.tutor-profile .button-block a:focus,
div.tutor-profile .button-block a:active{
	box-shadow: none !important;
	background-color: transparent !important;
	border:0px !important;

}
div.tutor-profile .button-block-2 .add-conference:hover,
div.tutor-profile .button-block-2 .add-conference:focus,
div.tutor-profile .button-block-2 .add-conference:active,
.tutor-modal .jconfirm-box .jconfirm-buttons button:hover,
.tutor-modal .jconfirm-box .jconfirm-buttons button:focus{
	background-color: #31e7c5 !important;
	box-shadow: none !important;
}
div.tutor-profile .button-block-2 .add-conference{
	color: white;
	background-color: #31e7c5;
	border: 0px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Candara';
	border-radius: 50px;
	padding: 14px 30px;
	box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5);
}
div.tutor-profile .button-block-2{
	margin-top: 20px;
	text-align: center;
}
div.tutor-profile .table-block{
	padding: 10px;
	background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(28, 43, 66, 0.24);
    margin-top: 20px;
    margin-bottom: 10px;
}
div.tutor-profile .table-block .summary{
    text-align: center;
    color: #231d2e;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 600;
    line-height: 49px;
}
div.tutor-profile .table-block .table-bordered thead th{
    border: 0;
    color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 400;
}
div.tutor-profile .table-block .table-bordered thead th a{
	color: #989898;
}
div.tutor-profile .table-block .table-bordered thead th a:hover{
	text-decoration: none;
}
div.tutor-profile .table-block .table-bordered td{
	border:0px;
	border-bottom: 1px solid #d0d2d5;
	padding: 0 10px;
}
div.tutor-profile .table-block .table-bordered{
	border: 0px;
}
div.tutor-profile .table-block  .rating-stars{
	margin-top: 20px;
}
div.tutor-profile .table-block  .table td{
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    vertical-align: inherit;
}
div.tutor-profile .table-block div.tutor-profile .rating-xs{
	margin-bottom: 0px !important;
}
.modal-block  div.jconfirm-title-c{
	text-align: center !important;
}
.modal-block  div.jconfirm-title-c span,
.modal-block .become-a-tutor h3{
	color: #393342;
    font-size: 25px !important;
    font-family: 'Candara' !important;
    font-weight: bold;
}
.virtual-classes-form  .image-block{
	text-align: center;
}
.virtual-classes-form  .image-block a,
.events-create-modal a,
.classified-market-form a,
.rents-form a{
	background-color: #e7e7e7;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 200;
    color: #7c7c7c !important;
    border:0px;
    margin-top: 10px;
}
.virtual-classes-form  .image-block a:hover,
.events-create-modal a:hover,
.virtual-classes-form  .image-block a:focus,
.events-create-modal a:focus,
.classified-market-form a:hover,
.classified-market-form a:focus{
	background-color: #e7e7e7 !important;
    color: #7c7c7c !important;
}
.virtual-classes-form  .select-block label{
	color: #322c3c;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: bold;

}
.virtual-classes-form  .select-block .select2-container--krajee .select2-selection--single,
.virtual-classes-form  .select-block input.form-control,
.virtual-classes-form  .select-block select.form-control{
	height: 40px !important
}
.virtual-classes-form  .select-block  .select2-container--krajee .select2-selection--single .select2-selection__rendered,
.virtual-classes-form  .select-block input.form-control,
.virtual-classes-form  .select-block select.form-control,
.virtual-classes-form  .select-block .form-control{	
	color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 200;
}
.virtual-classes-form  .select-block .select2-container--krajee .select2-selection--single .select2-selection__arrow{
	border-left: 0px;
}
.virtual-classes-form  .select-block .input-group.date .input-group-addon span.glyphicon-remove{
	display: none;
}
.virtual-classes-form  .select-block .input-group.date .input-group-addon span.glyphicon-calendar{
	color: #cacaca;
	margin: 8px 10px 0px;
}
.modal-block  .jconfirm-box .jconfirm-buttons button{
	color: white !important;
	background-color: #31e7c5 !important;
	border: 0px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Candara';
	border-radius: 50px;
	padding: 15px 64px;
	box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
	
}
.modal-block  .jconfirm-box .jconfirm-buttons button.btn-default{
	margin-right: 10px;
}
.modal-block  .jconfirm-buttons{
	float: none !important;
	text-align: center;
}
.modal-block  .jconfirm-closeIcon{
	color: #31e7c5 !important;
}
.modal-block .input-group.date .input-group-addon span{
	display: none;
}
.modal-block .input-group > .form-control:not(:first-child){
	border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;	
}
.modal-block .events-create-modal input.form-control,
.virtual-classes-form .select-block .date-class input.form-control{
	background-image: url(/images/date-icon.png);
	background-size: 16px;
	background-repeat: no-repeat;
	padding-left: 47px;
	background-position: top 11px left 17px;
	height: 40px;
}
.events-create-modal text,
.classified-market-create .classified-market-form .text-modal text,
.rents-form .text-modal text,
.question-form .text-modal text{
	color: #322c3c;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: bold;
    padding-top: 10px;
}
.events-create-modal .text-modal{
    padding-top: 7px;
}
.modal-block.jconfirm-box-container{
	max-width: 1071px;
	width: 100% ;
}
.modal-block .become-a-tutor{
	padding: 15px 16px 0px;
}
.modal-block.jconfirm-box-container .jconfirm-box{
	padding-top: 30px;
}
.modal-block .become-a-tutor label.label-block{
	color: #322c3c;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: bold;
}
.modal-block .become-a-tutor h3{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.modal-block .become-a-tutor .cbx-active span i{
	color:#31e7c5;
}
.modal-block .become-a-tutor label{
	color: #989898;
    font-size: 14px;
    font-family: 'Candara';
}
.modal-block .become-a-tutor .cbx-active:focus,
.modal-block .become-a-tutor .cbx-active:hover{
	box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
	border:1px solid #31e7c5;
}
.courses-index a.btn-new-class{
	color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    padding: 15px 64px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    margin-bottom: 10px;
}

.modal-block .create-modal input.form-control{
	background-image: none !important;
}
.modal-block .create-modal .select2-container--krajee .select2-selection--single, 
.classified-market-form .select2-container--krajee .select2-selection--single,
.rents-form .select2-container--krajee .select2-selection--single,
.question-form .select2-container--krajee .select2-selection--single{
	height: 40px;
	padding-top: 9px;
}
.modal-block .create-modal .select2-container--krajee .select2-selection--single .select2-selection__arrow,
.classified-market-form .select2-container--krajee .select2-selection--single .select2-selection__arrow,
.rents-form .select2-container--krajee .select2-selection--single .select2-selection__arrow,
.question-form  .select2-container--krajee .select2-selection--single .select2-selection__arrow{
	border-left: 0px !important;
	margin-top: 3px;
}
section.class-market-section{
	padding: 10px 12px;
	background-color: #f8f6fa;
	margin-left: 10px;
	border-radius: 6px;
}
section.class-market-section input,
.rents-search .search-input input,
 .business-search input{
	background-image: url(/images/ic-search.png);
	height: 40px;
	background-size: 16px;
	background-repeat: no-repeat;
	padding-left: 45px;
	background-position: top 11px left 17px;
	border:1px solid #d0d2d5;
	color: #989898;
	padding-bottom: 7px;
}
section.class-market-section .button-block{
	width: 11.4%;
	float:left;
	padding-right: 12px;
}
section.class-market-section .form-block{
	width: 88.6%;
	float:left;
	padding-left: 12px;
	padding-right: 19px;
}
section.class-market-section .button-block button{
	padding-top: 5.5px;
}
section.class-market-section .button-block a{
    padding-top: 9px;
}
section.class-market-section .button-block a,
section.class-market-section .button-block button,
section.rents-search .btn-search,
.business-search .button-search-block .btn-search,
.questions-index .search-page .qvection-search-block button,
.rents-view-modal button{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
}
.class-market .classified-block .number{
	color: #221538;
	font-size: 15px;
	text-align: right;
}
.class-market .classified-block-my{
	padding: 20px 20px 17px;
	background-color: #f8f6fa;
	border-radius: 6px;
}
.classified-modal-block{
	padding: 0px 20px 17px;
	background-color: #f8f6fa;
	border-radius: 6px;
}
 .more-block{
 	padding: 0 15px;
 }
.class-market .classified-block,
.search-block .classif-search-block,
.account-block .block{
	padding-top: 10px;
}
.class-market .classified-block:nth-child(odd),
.search-block .classif-search-block:nth-child(odd),
.account-block .block:nth-child(odd){
	padding-right: 0px;
	padding-left: 10px;
}
.search-block .classif-search-block:nth-child(even) ,
.class-market .classified-block:nth-child(even),
.account-block .block:nth-child(even){
	padding-right: 0px;
	padding-left: 10px;
}
.class-market .all-classfied{
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
}
.class-market .classified-block h2{
	color: #231d2e;
	text-align: center;
    font-family: 'Candara';
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #d0d2d5;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 22px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.class-market .classified-block .another-cl a,
.classified-modal-block a{
	color: #989898;
    font-family: 'Candara';
    font-size: 15px;
    text-decoration: none;
}
.class-market .classified-block .name-category{
	height: 22px;
	overflow: hidden;
	padding-left: 0px;
}
.class-market .classified-block .another-cl,
.classified-modal-block .another-cl{
	border-bottom: 1px solid #d0d2d5;
	padding: 18px 0px;
	margin: 0px;
}
.class-market .classified-block .button-cl a{
	color: #31e7c5;
    font-family: 'Candara';
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.class-market .classified-block .button-cl{
	padding-top: 16px;
	text-align: center;
}
.class-market .number-block{
	padding-right: 0px;
}
.search-block .searc-block-my,
.account-block .my-account-block{
	padding: 20px 32px;
	background-color: #f8f6fa;
	border-radius: 6px 6px 0 0;
}
.search-block,
.account-block{
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
}
.search-block .searc-block-my img,
.account-block .my-account-block img{
	height: 199px;
}
.search-block .searc-block-my h2,
.account-block .my-account-block h2{
    font-family: 'Candara';
    font-weight: bold;
    font-size: 17px;
    color: #231d2e;
    padding-top: 17px;
    margin-bottom: 0px;
    height: 38px;
    overflow: hidden;
    margin-bottom: -3px;
}
.search-block .searc-block-my p,
.account-block .my-account-block p{
	color: #989898;
    font-family: 'Candara';
    font-size: 15px;
    margin-bottom: 0px;
    display: inline-block;
}
.search-block .rating-container .rating-stars .empty-stars,
.account-block .rating-container .rating-stars .empty-stars,
.rents-right-block .rating-container .rating-stars .empty-stars,
.rents-view-modal .rating-container .rating-stars .empty-stars,
.classified-market-view .rating-container .rating-stars .empty-stars{
    color: rgb(152, 152, 152)
}
.search-block .rating-container .rating-stars .filled-stars,
.account-block  .rating-container .rating-stars .filled-stars,
.rents-right-block .rating-container .rating-stars .filled-stars,
.rents-view-modal .rating-container .rating-stars .filled-stars,
.my-rents-popap-reviews-rate .rating-stars .filled-stars,
.classified-market-view .rating-container .rating-stars .filled-stars{
    color: rgb(49, 231, 197);
    padding-top: 2px;
}
.my-rents-popap-reviews-rate .rating-stars .filled-stars{
	padding-top: 0!important;
}
.search-block .rating-container .rating-stars .filled-stars .star > i,
.account-block .rating-container .rating-stars .filled-stars .star > i,
.rents-right-block .rating-container .rating-stars .filled-stars .star > i,
.rents-view-modal .rating-container .rating-stars .filled-stars .star > i,
.my-rents-popap-reviews-rate i,
.classified-market-view .rating-container .rating-stars .filled-stars .star > i{
	font-size: 13px;
    text-shadow: none;
    -webkit-text-stroke: rgb(49, 231, 197);
}
.search-block .rating-container,
.account-block .rating-container,
.rents-right-block .rating-container,
.rents-view-modal .rating-container,
.classified-market-view .rating-container{
    font-size: 0em;
}
.search-block .rating-container .rating-stars .empty-stars .star ,
.account-block .rating-container .rating-stars .empty-stars .star,
.rents-right-block .rating-container .rating-stars .empty-stars .star,
.rents-view-modal .rating-container .rating-stars .empty-stars .star,
 .classified-market-view  .rating-container .rating-stars .empty-stars .star{
    color: rgb(152, 152, 152);
    font-size: 13px;
}
.search-block .view-button,
.account-block .view-button{
	color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    padding-top: 6px;
    letter-spacing: 1px;
}
.search-block .text-block{
	text-align: right;
	padding-right: 5px;
}
.search-block .button-block,
.account-block .button-block{
	padding-top:  5px;
	padding-left: 25px;
}
.search-block  .icon-star img{
	height: 20px;
}
.events-create-modal text, 
.classified-market-create .classified-market-form textarea,
.rents-form textarea{
	height: 205px;
	margin-top: 5px;
}
.classified-market-search .form-group{
	margin-bottom: 0px !important;
}
.search-block .icon-star{
	position: absolute;
	top:57%;
	right: 13%;
}
.account-block .icon-block{
	position: absolute;
	top:57%;
	right: 13%;	
}
.account-block .icon-block i.active,
.search-block .icon-star i.active,
.rents-right-block .icon-star i.active{
	color: #ffdb30;
}
.account-block .icon-block i,
.search-block .icon-star i{
	font-size: 20px;
	color: thistle;
}
.my-account h1.name-page{
	text-align: center;
    font-weight: bold;
    font-family: 'Candara';
    color: #231d2e;
    font-size: 18px;
    padding-top: 10px;
}
.account-block .text-bl,
.search-block .text-bl{
	overflow: hidden;
	height: 22px;
}
.rents-search .search-input{
	width: 48.5%;
    float: left;
}
.rents-search .check-in,
.rents-search  .check-out{
	width: 20%;
    float: left;
}
.rents-search .check-in span,
.rents-search .check-out span{
	display: none;
}
section.rents-search .rent-search{
	padding-top: 10px;
}
div.business-search{
	padding: 10px 12px 0px;
	background-color: #f8f6fa;
	margin-left: 10px;
	border-radius: 6px;
	height: 60px;
}
section.rents-search{
	padding: 0px 12px;
	background-color: #f8f6fa;
	margin-left: 10px;
	border-radius: 6px;
	height: 60px;
}
.rents-search .search-input input,
.rents-search .check-in input{
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}
.rents-search .check-in input,
.rents-search .check-out input{
	background-image: url(/images/date-icon.png);
	height: 40px;
	background-size: 16px;
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: top 9px right 17px;
	border:1px solid #d0d2d5;
	color: #989898;
	padding-bottom: 7px;
	border-left: 0px ;
	padding-right: 40px;
}
section.rents-search .btn-search {
	width: 10%;
	margin-left:1.5%;
}
.rents-search .search-input .form-control:focus,
.rents-search .check-in input:focus,
.rents-search .check-out input:focus{
	box-shadow: none !important;
}
.rents-form  .form-control{
	height: 40px !important;
	color: #999;
	padding-top: 4px;
}
section.rents-menu{
	margin: 10px 0px 10px 10px;
}
section.rents-menu nav{
	background: #f6f7fb;
    border-radius: 6px;
    padding: 0 10px 10px 10px;
 	border-bottom-left-radius :0px !important;
 	border-bottom-right-radius :0px !important;
 	height: 49px !important;
}
section.rents-menu nav .nav-item{
	padding-left: 0px !important;
	margin-left: 10px !important;
}
section.rents-menu nav .nav-item button{
	color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    height: 35px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
}
section.rents-menu nav .nav-item .nav-link{
	color: rgba(35, 29, 46, 0.6) !important;
    background-color: transparent;
    border: 0;
    height: 49px;
    border-bottom: 3px solid transparent;
    line-height: 49px;
    font-size: 14px !important;
    font-family: 'Candara';
    cursor: pointer;
    padding: 0 18px;
    font-weight: 600;
    text-transform: uppercase;
}
section.rents-menu nav .nav-item .nav-link.active{
	border-color: #31e7c5 !important;
    color: #231d2e !important;
}
.rents-right-block{
	padding: 21px 20px 10px 31px;
}
.rents-right-block .searc-block-my img{
	height: 200px;
}
.rents-right-block .price-block{
	position: absolute;
	bottom:0;
	left: 60px;
}
.rents-right-block .price-block text{
	display: inherit;
	color: white;
	font-size: 14px;
    font-family: 'Candara';
    font-weight: bold;
}

.favorites-block .price-block{
	position: absolute !important;
	top:130px !important;
	left: 32px!important;
}

.favorites-block .price-block text{
	display: inherit;
	color: white;
	font-size: 12px;
    font-family: 'Candara';
    font-weight: bold;
}
.rents-right-block h2{
	font-size: 17px;
    font-family: 'Candara';
    font-weight: bold;
    color: #231d2e;
    padding-top: 17px;
    margin-bottom: 0px;
}
.rents-right-block .icon-star{
	position: absolute;
    bottom: 5px;
    right: 10%;
	z-index: 2;
}
.rents-right-block .icon-star i{
	font-size: 20px;
    color: thistle;
}
.rents-right-block .text-bl{
	overflow: hidden;
    height: 21px;
}
.rents-right-block .text-bl.data{
	line-height: 13px;
}
.rents-right-block .text-bl p{
	color: #989898;
    font-family: 'Candara';
    font-size: 13px;
    margin-bottom: 0px;
    display: inline-block;
}
.rents-right-block .view-button{
	color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    padding-top: 6px;
    letter-spacing: 1px;
    width: 92px;
}
.rents-right-block .button-block{
	padding-left: 21px;
	text-align: right;
}
.rents-view-modal img.image,
.classified-market-view img.image {
	width: 40px;
	height: 40px !important;
	border-radius: 50px;

}
.rents-view-modal .name h2{
	color: #393342;
    font-family: 'Candara';
    font-size: 18px;
    font-weight: bold;
}
.rents-view-modal .name {
	text-align: center;
}
.rents-view-modal .text-bl,
.rents-form .text-bl h5,
.rents-form .text-bl,
.classified-market-view .text-bl{
	color: #231d2e;
    font-family: 'Candara';
    font-size: 14px;
    font-weight: bold;
}
.rents-view-modal .text-bl,
.classified-market-view .text-b{
	padding-top: 10px !important;
}
.rents-view-modal .text-bl p{
	margin-bottom: 0px;
}
.jconfirm .jconfirm-box{
	padding: 0px;
}
.rents-view .nav.nav-pills{
	 border-bottom: 1px solid #dee2e6;
	 height: 50px;
}  
.rents-house-view .nav.nav-pills li a.active,
.rents-view .nav.nav-pills li a.active{
	border-color: #31e7c5;
    color: #322c3c;
}
.rents-house-view .nav.nav-pills li a,
.rents-view .nav.nav-pills li a{
    color: rgba(35, 29, 46, 0.6);
    background-color: transparent;
    border: 0;
    height: 49px;
    border-bottom: 3px solid transparent;
    line-height: 49px;
    font-size: 14px;
    font-family: 'Candara';
    cursor: pointer;
    padding: 0 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.rents-house-view .nav.nav-pills li.first,
.rents-view .nav.nav-pills li.first{
	padding-left: 20px;
}
.rents-house-view .tab-pane.container,
.rents-view .tab-pane.container,
.classified-market-view .info{
    font-size: 14px;
    font-family: 'Candara';
    color: #393342;
    padding: 10px 40px;
}
.rents-form .status-block{
	background-color: #f3f3f3;
	margin: 0px;
}
.rents-form .status {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.rents-form .text-bl  h5,
.rents-form .text-bl .form-group,
.rents-form .text-bl .form-group label {
	margin-bottom: 0px;
}
.rents-form .text-bl  h5{
	padding-top: 14px;
}
.rents-form .qwection  h3{
    font-size: 24px !important;
    font-family: 'Candara';
    color: #393342; 
    font-weight: bold;
}
.qwection{
	margin: 0px;
	padding: 20px;
}
.rents-form .qwection  h5{
    font-size: 20px;
    font-family: 'Candara';
    color: #393342;
}
.book-block text{
	color: #231d2e;
    font-family: 'Candara';
    font-size: 14px;
    font-weight: bold;
}
.book-block span{
	padding-left: 10px;
	color:  rgba(35, 29, 46, 0.6);
    font-family: 'Candara';
    font-size: 14px;
}
.book-block-all a.paypal-btn,
.book-block-all a.creditbtn{
	color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 15%;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
}
.book-block-all a.creditbtn{
	margin-left: 5px;
	width: 15%
}
.my-booking .navbar{
	border-bottom: 1px solid #dee2e6;
    height: 50px;

    background: #f6f7fb;
    border-radius: 6px 6px 0 0;
    padding: 0;
}
.my-booking ul.navbar-nav{
	border-bottom: 1px solid #dee2e6;
    height: 50px;
}
.my-booking ul.navbar-nav li a{
	color: rgba(35, 29, 46, 0.6) !important;
    background-color: transparent;
    border: 0;
    height: 49px;
    border-bottom: 3px solid transparent;
    line-height: 49px;
    font-size: 14px !important;
    font-family: 'Candara' !important;
    cursor: pointer;
    padding: 0 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.my-booking ul.navbar-nav li a.active{
	border-color: #31e7c5;
    color: #322c3c !important;
}
.my-booking{
	padding-left: 10px;
}
.my-booking .rents-form .summary{
    color: #322c3c !important;
    font-size: 16px !important;
    font-family: 'Candara' !important;
    padding: 20px 0px 10px;
}
.my-booking .rents-form .kv-grid-container{
	background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(28, 43, 66, 0.24);
    min-height: 438px;
    margin-top: 10px;
}
.my-booking .rents-form  .table-bordered{
	border:0px !important;
}
.my-booking .rents-form  .table th, .table td{
 	border-top: 0px !important;
 }
.my-booking .rents-form thead th a{
   	color: #989898 !important;
    background-color: transparent !important;
    font-family: 'Candara' !important;
 }
.my-booking .rents-form thead th a:hover{
	text-decoration: none;
}    
.my-booking .rents-form  thead th{
	border: 0;
    color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 400;
}
.my-booking .rents-form tbody td{
	padding: 0 10px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #d0d2d5 !important;
    height: 50px;
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
}
.business-search .search{
	width: 43.424%;
	float: left;
}
.business-search .university{
	width: 14.821%;
	float: left;
}
.business-search .country{
	width: 14.7%;
	float: left;
}
.business-search .state{
	width: 14.1%;
	float: left;
}
.business-search .state .select2-container--krajee .select2-selection{
 	border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.business-search .select2-container--krajee .select2-selection--single{
	padding-top: 9px;
	border-left: 0px !important;
	border-radius: 0px;
	background-image: url(/images/ic-arrow.png);
	height: 40px;
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: top 15px right 17px;
	border:1px solid #d0d2d5;
	color: #989898;
	padding-bottom: 7px;
	padding-left: 20px;
}
 .business-search input{
 	height: 40px;
 	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 10px;
 }
 .business-search .select2-container--krajee .select2-selection--single .select2-selection__arrow{
 	display: none;
 }
  .business-search .button-search-block{
  	width: 11.45%;
    margin-left: 1.5%;
    float: left;
  }
  .business-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a6a6a6;
    opacity: 1; /* Firefox */
}

 .business-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#a6a6a6;
}

 .business-search input::-ms-input-placeholder { /* Microsoft Edge */
    color:#a6a6a6;
}
 .business-search .select2-container--krajee.select2-container--open .select2-selection,
 .select2-container--krajee .select2-selection:focus,
 .business-search.form-control:focus{
 	box-shadow: none;
}
.business-search .form-control:focus{
	border-color: #d0d2d5;
}
.question-form  .form-control,
.question-form .select2-container--krajee .select2-selection--multiple{
	height: 40px;
}
.question-form   textarea.form-control{
	height: 96px;
}
.question-form .text-modal{
	line-height: 1;l
}
.business-search form{
	width: 100%;
}
.business-search{
	margin-right: 0px;
}
.question-form .select2-container--krajee .select2-selection--multiple{
	padding-top: 2px;
}
.questions-index .table-block{
	margin-left: 10px;
	margin-top: 10px;
	background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(28, 43, 66, 0.24);
    height: calc( 100vh - 82px );
    min-height: 438px;
}
.questions-index .table-block table thead th a{
	color: #989898;
	border: 0;;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 400;
}
.questions-index .table-block table thead th {
    vertical-align: inherit;
    text-align: center;
}
.questions-index .table-block table thead th {
    border: 0;
    color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 400;
}
.questions-index .table-block table thead {
	padding-bottom: 5px;
}
.questions-index .table-bordered td{
	border: 0px !important
}
.questions-index .table-striped tbody tr:nth-of-type(odd){
	background-color: transparent !important;
	border-bottom: 1px solid #d0d2d5; 
}
.questions-index table tbody td {
    padding: 0 10px;
    vertical-align: middle;
    border: 0;
    height: 50px;
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
}
.questions-index .table-striped tbody tr{
	border-bottom: 1px solid #d0d2d5; 
}
.questions-index table tbody td span.glyphicon{
	color: #d0d2d5;
}
.questions-index .table-block .summary{
	display: none;
}
.questions-index .table-bordered{
	border: 0px;
}
.questions-index .search-page{
	margin: 0px;
}
.questions-index .search-page .info-block-all{
	background-color: white;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.questions-index .search-page .qvection-search-block img{
	height: 40px;
	width: 40px;
	border-radius: 50px;
}
.questions-index .search-page .qvection-search-block p{
	color: #231d2e;
    font-family: 'Candara';
    font-weight: 600;
    font-size: 18px;
}
.questions-index .search-page .qvection-search-block  .info-block{
	background-color: #f3f3f3;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	margin: 0px;
}
.questions-index .search-page .qvection-search-block text{

	color: #393342;
    font-family: 'Candara';
    font-weight: 200;
    font-size: 16px;
}
.questions-index .search-page .qvection-search-block .info-block-all{
	height: 254px;
	overflow: hidden;
}
.questions-index .search-page .qvection-search-block{
	padding: 10px 0px 0px 10px;
}
.view-block{
	max-width: 480px !important;
}
.rents-view-modal .image-block{
	padding-right: 7px;
	padding-left: 0px;
}
.rents-view-modal .classif-text-block,
.classified-market-view .classif-text-block {
	margin-left: -20px;
	padding-left: 15px;
}
.rents-view-modal .text-bl{
	padding-right: 0px;
	overflow: hidden;
}
.view-modal-bl  .nav-pills .nav-link.active {
    border-color: #31e7c5 !important;
    color: #231d2e !important;
    background-color: transparent;
    border-radius: 0px;
}
.view-modal-bl .nav-pills a.nav-link {
    display: inline-block;
    color: rgba(35, 29, 46, 0.6) !important;
    background-color: transparent;
    border: 0;
    height: 49px;
    border-bottom: 3px solid transparent;
    line-height: 49px;
    font-size: 14px;
    font-family: 'Candara';
    cursor: pointer;
    padding: 0 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.view-modal-bl .nav-pills{
	height: 50px;
	border-bottom: 1px solid #dee2e6;
	padding-left: 15px;
}
.view-modal-bl .tab-content{
	padding-top: 18px;
	color: #4c4755;
    font-family: 'Candara';
    font-weight: 200;
    font-size: 16px;
    padding-bottom: 30px;
}
.rents-view-modal button{
	width: 120px;
}
.classified-market-view .view-bl{
	background-color: #f3f3f3;
    padding: 10px 30px;
    margin: 10px 0 0;
}
.classified-market-view  .text-bl,
.classified-market-view  .star-block{
	padding-top: 7px;
}
.classified-market-view  .text-bl p{
	margin-bottom: 0px;
}