@media (max-width: 576px) { 
	div.tutor-profile .user-image{
		padding-right: 15px !important;
	}
	div.tutor-profile .button-block a.btn-primary{
		margin-right: 10px;
	}
	div.tutor-profile h3.name-user{
		font-size: 22px !important;
		margin-top: 15px;
	}
	div.tutor-profile .button-block{
		padding-top: 15px !important;
	}
	section.class-market-section .form-block{
		width: 100% !important;
		padding-right: 12px !important;
	}
	section.class-market-section .button-block{
		width: 45% !important;
		margin:  0 auto;
		padding-top: 10px;
		padding-right: 0px !important;
	}
	.class-market .classified-block h2{
		font-size: 16px !important;
	}
	.class-market .classified-block .another-cl a,
	.class-market .classified-block .button-cl a{
		font-size: 14px !important;
	}
	.class-market .classified-block:nth-child(even),
	.class-market .classified-block:nth-child(odd),
	.search-block .classif-search-block:nth-child(odd),
	.search-block .classif-search-block:nth-child(even),
	.account-block .block:nth-child(odd),
	.account-block .block:nth-child(even){
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	section.class-market-section{
		margin-right: 10px !important;
	}
	.search-block .icon-star,
	.account-block .icon-block{
	    top: 57% !important;
	    right: 15% !important;
	}
	.rents-search .check-in,
	.rents-search  .check-out{
		width: 50% !important;
	}
	.rents-search .search-input{
		width: 100% !important;
		border-right: 1px !important;
	}
	.rents-search .search-input input{
		border-top-right-radius: 0.25rem !important;
		border-bottom-left-radius: 0px !important;
		border-bottom: 0px;
	}
	.rents-search .button-search-block,
	.business-search .button-search-block{
		text-align: center !important;
	}
	.rents-search .check-out input{
		border-top-right-radius: 0px !important;
		border-left: 1px solid #d0d2d5 !important;
	}
	.rents-search .check-in input{
		border-bottom-left-radius: 0.25rem !important;
		border-right: 0px !important;
		border-left: 1px solid #d0d2d5 !important;
	}
	section.rents-search .btn-search,
	.business-search .button-search-block .btn-search{
		width: 50% !important;
		margin-top: 10px;
	}
	.business-search .button-search-block{
		width: 100% !important;
	}
	section.rents-search{
		height: 150px !important;
	}
	.modal-block .jconfirm-box .jconfirm-buttons button.btn-default{
		margin-right: 0px !important;
		margin-bottom: 5px;
	}
	.rents-view .nav.nav-pills{
		display: inline-block !important;
		border-bottom: 0px !important; 
	}
	.rents-view .nav.nav-pills li.first{
		padding-left: 0px !important;
	}
	.tab-menu{
		text-align: center;
		border-bottom: 1px solid #f3f3f3;
		padding-bottom: 10px;
	}
	.book-block-all a.paypal-btn,
	.book-block-all a.creditbtn{
		width: 50% !important;
		display: inline-block;
	}
	.book-block-all a.creditbtn{
		margin-left: 0px !important;
		margin-top: 15px;
	}
	.business-search .search,
	.business-search .university,
	.business-search .country,
	.business-search .state{
		width: 100% !important;
	}
	div.business-search{
		height: 230px !important;
		margin-left: 0px !important;
	}
	.business-search .select2-container--krajee .select2-selection--single{
		border-left:1px solid #d0d2d5 !important;
		border-top: 0px !important;
	}
	.business-search .form-group{
		margin-bottom: 0px !important;
	}
	.business-search input{
 	border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
	}
	.business-search .state .select2-container--krajee .select2-selection--single{
    border-bottom-left-radius: 4px !important;

 	border-top-right-radius: 0px !important;
	}
	.rents-view-modal .text-bl,
	.rents-view-modal .image-block,
	.rents-view-modal .button{
		text-align: center !important;
	}
	.rents-view-modal .image-block{
		padding: 10 15px 0px !important;
	}
	.rents-view-modal .text-bl,
	.rents-view-modal .button{
		padding-right: 15px !important;
		padding-top: 10px;
		padding-left: 15px !important;
	}
	.rents-view-modal .classif-text-block{
		margin-left: 0px !important;
	}
	.questions-index .search-page .qvection-search-block{
		padding: 10px 0px 0px 0px !important;
	}
}
@media (min-width: 1200px) {
	div.tutor-profile h3.name-user{
		font-size: 22px !important;
	}
	div.tutor-profile .user-block text,
	div.tutor-profile .user-table .category{
		font-size: 16px !important;
	}
	div.tutor-profile .user-table .category{
		padding-bottom: 8px !important;
	}
	div.tutor-profile .button-block-2 .add-conference{
		font-size: 16px !important;
	}
	div.tutor-profile .user-table td{
		font-size: 15px !important;
	}
	div.tutor-profile .rating-stars span i{
		font-size: 15px !important;
	}
	div.tutor-profile .rating-xs{
		font-size: 20px !important;
	}
	div.tutor-profile .table-block .table-bordered thead th{
		font-size: 18px !important;
	}
	div.tutor-profile .table-block .table td{
		font-size: 16px !important;
	}
	div.tutor-profile .table-block .rating-stars span i{
		font-size: 14px !important;
		margin-top: 15px !important;
	}
	.events-create-modal .text-modal{
		padding-right: 0px;
	}
	.modal-block .create-modal textarea.form-control{
		height: 200px !important;
	}
}
@media (min-width: 1600px) {
	div.tutor-profile .user-table{
		margin-top: 15px;
	}
	div.tutor-profile h3.name-user{
		font-size: 30px !important;
	}

	div.tutor-profile .user-table td{
		font-size: 17px !important;
	}
}
@media (min-width: 576px) and (max-width: 1199.98px) {
	ul.navbar-nav > li.nav-item > a.nav-link{
		font-size: 14px !important;
	}
	section.class-market-section .button-block a, section.class-market-section .button-block button{
		font-size: 11px !important;
	}
	section.class-market-section .button-block a{
		padding-top: 12px !important;
	}
	.search-block .view-button,
	.account-block .view-button{
		height: 30px !important;
		padding-top: 6px !important;
	}
	.events-create-modal text, 
	.classified-market-create .classified-market-form textarea,
	.rents-form textarea.form-control{
		height: auto !important;
	}
	.search-block .searc-block-my p,
	.account-block .my-account-block p{
		font-size: 11px !important;
	}
	.search-block .view-button,
	.account-block .view-button{
		font-size: 11px !important;
	}
	.search-block .searc-block-my img.image,
	.account-block .my-account-block img{
		height: 145px !important;
	}
	.search-block .searc-block-my,
	.account-block .my-account-block{
		padding: 15px 15px !important;
	}
	.search-block .icon-star{
	    top: 49% !important;
	    right: 10.5% !important;
	}
	.account-block .icon-block{
		top: 51% !important;
	    right: 10.5% !important;
	}
	.account-block .text-bl,
	.search-block .text-bl{
		height: 21px !important;
	}
	.search-block .button-block, 
	.account-block .button-block{
		padding-top: 10px !important;
	}
	.rents-right-block{
		top: 60px !important;
	}
	.questions-index .search-page .qvection-search-block:nth-child(odd){
		padding: 10px 0px 0px 10px !important;
	}
	.questions-index .search-page .qvection-search-block:nth-child(even){
		padding: 10px 0px 0px 10px !important;
	}
	.questions-index .search-page{
		margin: 0px !important;
	}
}
