.block-under-slider-tops {
    background: #f6f7fb;
    border-radius: 6px;
    padding: 0 10px 10px 10px;
    margin-top: 10px;
}

.block-under-slider-tops .nav.nav-tabs {
    height: 50px;
    border-radius: 6px 6px 0 0;
    padding: 0;
    margin: 0 -10px;
}

.block-under-slider-tops .nav.nav-tabs .nav-item:nth-child(1) {
    margin-left: 14px;
}

.block-under-slider-tops .nav.nav-tabs .nav-item {
    margin: 0;
}

.block-under-slider-tops .nav.nav-tabs .nav-item a.nav-link.active {
    border-color: #31e7c5;
    color: #231d2e;
}

.block-under-slider-tops .nav.nav-tabs .nav-item a.nav-link {
    display: block;
    color: rgba(35, 29, 46, 0.6);
    background-color: transparent;
    border: 0;
    height: 49px;
    border-bottom: 3px solid transparent;
    line-height: 49px;
    font-size: 14px;
    font-family: 'Candara';
    cursor: pointer;
    padding: 0 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.top-professor {
    margin: 11px;
    border-bottom: 1px solid #d0d2d5;
    padding-bottom: 11px;
}

.top-professor-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.top-professor-name {
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    padding-left: 5px !important;
}

.top-professor-name a {
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    text-decoration: none;
}

.top-professor-mail-text {
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}

.top-professor-rating {
    padding-top: 11px;
}

.top-professor-mail {
    text-decoration: none !important;
}

.top-professor-mail img {
    position: relative;
    bottom: 3px;
    object-fit: cover;
}

.top-professor-rating .top-professor-rating-title {
    display: inline-block;
    min-width: 60px;
    color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 400;
}

.top-professor-rating .custom-stars {
    transform: translateY(-3px);
}

.top-professor-rating .custom-stars .rating-container .rating-stars .filled-stars .star > i {
    font-size: 15px;
}

.top-professor-rating .custom-stars .rating-container .rating-stars .empty-stars .star > i {
    font-size: 15px;
}

.courses-personal-info-block {
    background: #f6f7fb;
    border-radius: 6px;
    padding: 11px;
}

.courses-personal-info-block .personal-info-left-block {
    width: 170px;
    float: left;
}

.courses-personal-info-block .personal-info-right-block {
    width: calc(100% - 170px);
    float: left;
    padding-left: 30px;
}

.courses-personal-info-block img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.personal-info-right-block-name {
    color: #231d2e;
    font-size: 17px;
    font-family: 'Candara';
    font-weight: 600;
    margin-top: 11px;
    margin-bottom: 0px;
}

.personal-info-right-block-rating-title {
    display: inline-block;
    min-width: 60px;
    color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 400;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.personal-info-right-block-rating .custom-stars .rating-container .rating-stars .filled-stars .star > i {
    font-size: 15px;
}

.personal-info-right-block-rating .custom-stars .rating-container .rating-stars .empty-stars .star > i {
    font-size: 15px;
}

.personal-info-right-block-danye {
    padding-top: 16px;
}

.personal-info-right-block-danye .danye-block p {
    color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 200;
    width: 95px;
    float: left;
    margin-bottom: 0px;
}
.personal-info-right-block-danye .danye-block {
    padding-top: 9px;
}
.personal-info-right-block-danye .danye-block span {
    width: calc(100% - 95px);
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    position: relative;
    bottom: 3px;
}
.calendar-widget .block-tabs-courses .nav.nav-tabs .nav-item:nth-child(1){
    margin-left: 0px;
}

.courses-join-block {
    background: #f6f7fb;
    border-radius: 6px;
    padding: 23px 20px 19px 20px;
    margin-top: 11px;
}

.courses-join-block-name {
    color: #231d2e;
    font-size: 17px;
    font-family: 'Candara';
    font-weight: 600;
    margin-bottom: 0px;
}
.calendar-block .rating-container .rating-stars .empty-stars .star,
.top-university-containter .rating-container .rating-stars .empty-stars .star{
    color: rgb(152, 152, 152);
    font-size: 13px;
}
.calendar-block .rating-container .rating-stars .filled-stars,
.top-university-containter .rating-container .rating-stars .filled-stars {
    color: rgb(49, 231, 197);
    padding-top: 0px;
}
.calendar-block .rating-container .rating-stars .empty-stars,
.top-university-containter .rating-container .rating-stars .empty-stars{
    color: rgb(152, 152, 152)
}
.calendar-block .rating-container .rating-stars .filled-stars .star > i,
.top-university-containter .rating-container .rating-stars .filled-stars .star > i{
    font-size: 13px;
    text-shadow: none;
    -webkit-text-stroke: rgb(49, 231, 197);
}
.top-university-containter .rating-container .rating-stars .filled-stars .star > i,
.top-university-containter .rating-container .rating-stars .empty-stars .star{
    font-size: 14px;
}
.calendar-block .text-center{
    padding: 30px 0px;
}
.calendar-block .img-tab-calendar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.calendar-block .img-b{
    text-align: center;
}
.calendar-block .name{
    padding-left: 0px;
    line-height: 1;
}
.calendar-block .rating-container{
    display: initial;
}
.calendar-block .table{
    margin-bottom: 0px;
}
.top-university-containter .nav-tabs .nav-link.active{
    border-color: #31e7c5;
    color: #231d2e;
}
.top-university-containter .nav-tabs .nav-link.name{
    color: #231d2e;
}
.top-university-containter img{
    height: 50px;
    border-radius: 50%;
}
.top-university-containter a{
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
}
.top-university-containter a:hover{
    text-decoration: none;
}
.top-university-containter .avatar-name{
    padding-top: 20px;
}
.top-university-containter .stars{
    display: -webkit-box;
    padding-top: 22px;
    min-width: 60px;
    color: #989898;
    font-size: 15px;
    font-family: 'Candara';
    font-weight: 200;
}
.top-university-containter td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-university-containter .img-block{
    width: 50px;
    padding-right: 0px;
}
.top-university-containter .nav-tabs .nav-link{
    display: block;
    color: rgba(35, 29, 46, 0.6);
    background-color: transparent;
    border: 0;
    height: 49px;
    border-bottom: 3px solid transparent;
    line-height: 49px;
    font-size: 14px;
    font-family: 'Candara';
    cursor: pointer;
    padding: 0 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.top-university-containter .rating-container {
    padding-left: 13px;
}
.top-university-containter .table{
    margin-bottom: 0px;
}
.top-university-containter .button-block{
    text-align: right;
    padding-top: 21px;
}
.top-university-containter .button-block button:hover{
    cursor: pointer;
}
.top-university-containter .button-block button:focus{
    border: none;
    outline: transparent;
}
.top-university-containter .button-block button{
    background-color: transparent;
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    border-width: 0px;
    box-shadow: none;
    background: url(/images/ic_email_black_18.png) center left no-repeat;
    padding-left: 25px
    
}
.calendar-block .button-block button{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 100%;
    height: 30px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
}
.calendar-block .stars{
      display: inline-block;
    min-width: 60px;
    color: #989898;
    font-size: 13px;
    font-family: 'Candara';
    font-weight: 400;
} 
.calendar-block .tab-pane a{
    overflow: hidden;
    text-overflow: ellipsis;
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
}
.calendar-block .tab-pane a:hover{
    text-decoration: none;
}
.courses-join-block .custom-stars .rating-container .rating-stars .filled-stars .star > i {
    font-size: 15px;
}

.courses-join-block .custom-stars .rating-container .rating-stars .empty-stars .star > i {
    font-size: 15px;
}

.join-btn:hover {
    box-shadow: none;
}

.join-btn {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Candara';
    font-weight: 600;
    color: #f6f7f9 !important;
    background-color: #31e7c5;
    padding: 9px 38px;
    border-radius: 22px;
    outline: none;
    border: none;
    box-shadow: 0px 3px 12px #31e7c5;
    text-decoration: none !important;
    transition: 0.2s ease-in-out;
    position: relative;
    bottom: 4px;
}

.calendar-widget-content-courses {
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 400;
    color: #231d2e;
    text-align: center;
    padding: 75px 0;
}

.block-tabs-courses {
    background: #f6f7fb;
    border-radius: 6px;
    margin-top: 0px;
    width: 100%;
}

.block-tabs-courses .nav.nav-tabs {
    height: 50px;
    border-radius: 6px 6px 0 0;
    padding: 0;
    margin: 0 -10px;
}

.block-tabs-courses .nav.nav-tabs .nav-item {
    margin: 0;
}

.block-tabs-courses .nav.nav-tabs .nav-item a.nav-link.active {
    border-color: #31e7c5;
    color: #231d2e;
}

.block-tabs-courses .nav.nav-tabs .nav-item a.nav-link {
    display: block;
    color: rgba(35, 29, 46, 0.6);
    background-color: transparent;
    border: 0;
    height: 49px;
    border-bottom: 3px solid transparent;
    line-height: 49px;
    font-size: 14px;
    font-family: 'Candara';
    cursor: pointer;
    padding: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.block-tabs-courses .nav.nav-tabs .nav-item:nth-child(1) {
    margin-left: 25px;
}

button.custom-add-event-courses:hover {
    box-shadow: none;
}

button.custom-add-event-courses {
    width: 20px;
    height: 20px;
    background: url(/images/add-btn.png);
    border: 0;
    outline: none;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(61, 227, 196, 0.5);
    transform: translateY(4px);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    display: none;
    cursor: pointer;
    display: inline-block;
}

.text-add-event {
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    margin-left: 12px;
}

.tab-custom-add-event {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.carousel-univer-classes .carousel-indicators li {
    width: 7px;
    height: 7px;
    margin-right: 4.5px;
    margin-left: 4.5px;
    background-color: #fff;
    border-radius: 3px;
}

.carousel-univer-classes .carousel-indicators .active {
    background-color: #716578;
    opacity: 0.2;
}

.carousel-univer-classes .carousel-indicators {
    margin-bottom: 20px;
}

.carousel-univer-classes .carousel-control-prev, .carousel-control-next {
    width: 8%;
}

.carousel-univer-classes .carousel-control-prev-icon {
    background-image: url("/images/carusel-arrow-left.png");
    background-size: auto;
    width: 10px;
    height: 15px;
}

.carousel-univer-classes .carousel-control-next-icon {
    background-image: url("/images/carusel-arrow-right.png");
    background-size: auto;
    width: 10px;
    height: 15px;
}

.event-block-under-calendar {
    margin: 0px;
    border-bottom: 1px solid #d0d2d5;
    padding-bottom: 11px;
    margin-bottom: 11px;
}

.event-block-under-calendar .event-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.event-block-under-calendar .event-title {
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 5px;
    overflow: hidden;
}
.event-block-under-calendar .event-title a {
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    text-decoration: none;
}

.event-block-under-calendar .event-date-start-end {
    color: #231d2e;
    font-size: 13px;
    font-family: 'Candara';
    font-weight: 400;
}

.event-block-under-calendar .date-create {
    color: #231d2e;
    font-size: 13px;
    font-family: 'Candara';
    font-weight: 400;
}
.event-block-under-calendar .event-short-content {
    color: #231d2e;
    font-size: 13px;
    font-family: 'Candara';
    font-weight: 600;
    padding-right: 10px;
}

.event-block-under-calendar .event-join-btn .join-btn {
    padding: 9px 27px;
    bottom: 0;
    cursor: pointer;
}
.classes-form h2.info-img{
    font-size: 14px !important;
}
.classes-form  a.btn,
.product-page td button{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
}
.classes-form .table button{
    background-color: transparent !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    color:  #31e7c5 !important;
}
.classes-form .new-photo{
    display: -webkit-box;
    overflow: hidden !important;
}
.classes-form .new-photo p{
    margin-bottom: 0px;
    font-size: 10px;
}
.classes-form .new-photo img{
    height: 50px;
    width: 50px;
}
.classes-form .progress{
    background: transparent;
    margin-top: 8px;
}
.classes-form .photo-name{
    text-align: left;
    padding-left: 10px;
}
.classes-form .table{
    margin-top: 40px;
}
.classes-form .table-block,
.files-block{
    margin: 0px;
}
.product-page .table img,
.files-page .table img{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
}
.product-page .professor-name a,
.product-page td,
.files-page .professor-name a,
.files-page td,
.files-page td a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #231d2e;
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
}
.product-page td,
.files-page td{
    padding: 0 10px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #d0d2d5;
    height: 50px;
}
.product-page .button-block{
    text-align: right !important;
}