@media (max-width: 992px) {
    .block-tabs-courses .nav.nav-tabs .nav-item:nth-child(1) {
        margin-left: 0;
    }

    .top-professor {
        text-align: center;
    }

    .mob-text-center {
        text-align: center !important;
    }

    .block-under-slider-tops {
        margin-bottom: 10px;
    }

    .block-under-slider-tops .nav.nav-tabs .nav-item:nth-child(1) {
        margin-left: 0;
    }

    .courses-personal-info-block .personal-info-right-block {
        width: calc(100%);
        padding-left: 0;
    }

    .courses-personal-info-block img {
        height: auto;
    }

    .courses-personal-info-block .personal-info-left-block {
        width: 100%;
    }

    .block-tabs-courses .nav.nav-tabs {
        height: auto;
    }

    .block-tabs-courses .nav.nav-tabs .nav-item {
        width: 100%;
    }

    .block-under-slider-tops .nav.nav-tabs {
        height: auto;
    }

    .block-under-slider-tops .nav.nav-tabs .nav-item {
        width: 100%;
    }

    .block-under-slider-tops .nav.nav-tabs .nav-item a.nav-link {
        padding: 0;
    }

    .top-professor-rating {
        padding-top: 0;
    }

    .event-block-under-calendar {
        text-align: center;
    }

    .event-block-under-calendar .event-join-btn {
        margin-top: 11px;
        margin-bottom: 5px;
    }
    .event-block-under-calendar .event-title {
        padding-left: 5px;
        padding-right: 5px;
    }
    .event-block-under-calendar .event-short-content {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 1599px) {
    .block-under-slider-tops .nav.nav-tabs .nav-item:nth-child(1) {
        margin-left: 15px;
    }

    .block-under-slider-tops .nav.nav-tabs .nav-item a.nav-link {
        padding: 0 15px;
    }

    .top-professor-name {
        padding-left: 0px !important;
        position: relative;
        right: 6px;
    }

    .event-block-under-calendar .event-title {
        padding-left: 0;
    }

    .event-block-under-calendar .event-join-btn .join-btn {
        padding: 9px 32px;
    }
}