@import '../fonts/font.css';
.desktop-display-none{
    display: none;
}
.rents-table-my-book table td button{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    margin-top: -10px;
}
.rents-house-my-booking nav.navbar{
    height: 40px;
}
.my-rents-popap-reviews-img{
    float: left;
    overflow: hidden;
}
.my-rents-popap-reviews-img span{
    color: #231d2e;
    font-family: 'Candara';
    font-size: 14px;
    font-weight: bold;
}
.my-rents-popap-reviews-img img{
    width: 40px;
    height: 40px !important;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 20px;
}
.searc-block-bottom{
    background-color: #f8f6fa;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 0 0 6px 6px;
}
.searc-block-bottom h2{
    font-size: 17px;
    font-family: 'Candara';
    font-weight: bold;
    color: #231d2e;
    padding-top: 17px;
    margin-bottom: 0px;
}
.searc-block-bottom .text-bl p{
    color: #989898;
    font-family: 'Candara';
    font-size: 13px;
    margin-bottom: 0px;
    display: inline-block;
}
.rents-right-block-c-s .searc-block-my{
    position: relative;
}
.rents-right-block-c-s .price-block{
    left: 0 !important;
    padding-left: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/*.rents-right-block-c-s .icon-block{*/
    /*top: 180px!important;*/
    /*z-index: 2;*/
/*}*/
.rents-right-block-c-s .icon-block i.active{
    color: rgb(49, 231, 197) !important;
}
.custom-r-h-search section.rents-search,
.custom-rents-search-cont section.rents-search{
    width: calc( 100% - 332px );
}
.custom-r-h-search section.rents-search form .search-input,
.custom-rents-search-cont section.rents-search form .search-input{
    width: 35%;
}
.custom-r-h-search section.rents-search form .check-out,
.custom-r-h-search section.rents-search form .check-in,
.custom-rents-search-cont section.rents-seearch form .check-out,
.custom-rents-search-cont section.rents-search form .check-in{
    width: 21%;
}
.custom-r-h-search section.rents-search form .check-out input,
.custom-rents-search-cont section.rents-search form .check-out input{
    border-radius: 0 3px 3px 0;
}
.custom-r-h-search section.rents-search form .check-in input,
.custom-rents-search-cont section.rents-search form .check-in input{
    border-radius: 0;
}
.custom-r-h-search section.rents-search form .button-search-block button,
.custom-rents-search-cont section.rents-search form .button-search-block button{
    width: 21%;
}
.custom-my-requests .grid-view{
width: 100%;
    padding-left: 10px;
}
.custom-my-requests section.rents-menu ul,
.custom-books-tabs{
    background: #f6f7fb;
    border-radius: 6px 6px 0 0;
    margin-bottom: 10px;
}
.custom-my-requests section.rents-menu ul li > a.active,
.custom-books-tabs > li > a.active{
    color: #000000;
}
.custom-my-requests section.rents-menu ul li button{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    height: 35px;
    margin-top: 2.5px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    margin-left: 10px;
}
.rents-house-my-booking nav.navbar ul li > a,
.custom-my-requests section.rents-menu ul li > a,
.custom-books-tabs > li > a{
    border: none !important;
    border-radius: 0 !important;
    color: #303030;
}
.my-bookings-block{
    padding-left: 10px;
}
.table-block-container .summary{
    margin-bottom: 5px;
}
.custom-my-requests .kv-grid-container,
.table-block-container .kv-grid-container{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(28, 43, 66, 0.24);
    min-height: 438px;
}
.custom-my-requests .kv-grid-container th,
.table-block-container .kv-grid-container th{
    border: none;
}
.custom-my-requests .kv-grid-container th,
.table-block-container .kv-grid-container th{
    color: #7c7c7c;
    font-weight: normal;
}
.custom-my-requests .kv-grid-container th a{
    color: #989898;
}
.custom-my-requests .kv-grid-container th a,
.table-block-container .kv-grid-container th a{
    background-color: transparent;
    text-decoration: none;
}
.custom-my-requests .kv-grid-container table,
.table-block-container .kv-grid-container table{
    border-top:none;
    border-left:none;
    border-right:none;
}
.table-block-container .kv-grid-container td div.rating-container{
    max-height: 25px;
}
.table-block-container .kv-grid-container td div.rating-container span i{
    color: rgb(49, 231, 197);
}
.table-block-container .kv-grid-container td div.rating-container span{
    -webkit-text-stroke: transparent;
    text-shadow: none;
}
.custom-my-requests .kv-grid-container td,
.table-block-container .kv-grid-container td{
    font-size: 14px;
    font-family: 'Candara';
    font-weight: 600;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 12px;
}
.custom-my-requests .kv-grid-container td button{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    margin-top: -10px;
}
.custom-my-requests .kv-grid-container td button.btn-success{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 40%;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
}
.custom-my-requests .kv-grid-container td button.btn-danger{
    color: white !important;
    background-color: #dc3545 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 40%;
    height: 40px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    margin-left: 10px;
}
.custom-my-requests .searc-block-my .icon-block{
    top: 50% !important;
    right: 15% !important;
}
.custom-my-requests .searc-block-my .icon-block i.active{
    color: rgb(49, 231, 197);
}
.auth-bg{
  background: url("/images/auth-bg.jpg") center;
  background-size: cover;
  min-height: 100vh;
  padding: 40px 0;
}
.auth-bg .auth-cnange-btn{
  width: 140px;
  height: 36px;
  border: 2px solid white;
  outline: none;
  background: transparent;
  border-radius: 18px;
  color: white; 
  font-family: 'Candara Bold';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.auth-bg .auth-cnange-btn span.active{
  display: block !important;
}
.auth-box{
  margin-top: 46px;
}
.auth-box img.app-preview{
  width: 100%;
}
.auth-box .apps-btn{
  margin-top: 22px;
}
.auth-box .apps-btn img{
  margin-top: 10px;
}
.auth-form.active{
  display: block !important;
}
.auth-form .auth-form-head{
  font-size: 26px;
  color: white;
  font-family: 'Candara Bold';
}
.auth-form .auth-form-head p{
  font-size: 16px;
  color: white;
  font-family: 'Candara';
}
.auth-form .field-group{
  border-radius: 3px;
  background: white;
}
.auth-form .field-group .form-group{
  border-bottom: 1px solid rgba(24, 7, 32, 0.12);
  padding: 16px 18px;
  margin: 0;
}
.auth-form .field-group .form-group input[type="email"],
.auth-form .field-group .form-group input[type="password"],
.auth-form .field-group .form-group select,
.auth-form .field-group .form-group input[type="text"]{
  border: 0;
  background: transparent;
  padding-left: 0;
  font-family: 'Candara';
  font-size: 16px;
  color: #161338;
}
.auth-form .field-group .form-group input[type="email"]:focus,
.auth-form .field-group .form-group input[type="password"]:focus,
.auth-form .field-group .form-group select:focus,
.auth-form .field-group .form-group input[type="text"]:focus{
  outline: none;
  box-shadow: none;
}
.auth-form .field-group .form-group label{
  font-size: 13px;
  color: rgba(31, 37, 45, 0.5);
  font-family: 'Candara';
}
.auth-form .field-group .form-group .text-danger{
  font-size: 13px;
  font-family: 'Candara';
  padding: 0;
  margin: 0;
}
.auth-form button[type="submit"]{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #31e7c5;
  box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5);
  margin-top: 18px;
}
.auth-form .or-socials{
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Candara';
}
.auth-form .eauth{
  margin-top: 16px;
}
.auth-form .eauth .eauth-service-id-facebook{
  display: block;
  margin: 0;
  width: calc( 50% - 5px );
  height: 50px;
  float: left;
}
.auth-form .eauth .eauth-list{
  margin: 0;
}
.auth-form .eauth .eauth-service-id-facebook a{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #335aaf;
  position: relative;
}

.auth-form .eauth .eauth-service-id-facebook a:before{
  display: none;
}
.auth-form .eauth .eauth-service-id-facebook a:after{
  display: block;
  width: 16px;
  height: 16px;
  background: url("/images/f-icon.png");
  top: 50% !important;
  left: 50% !important;
  transform: translate3d(-50%, -50%, 0);
  content: '';
  margin: 0;
}

.auth-form .eauth .eauth-service-id-linkedin_oauth2{
  display: block;
  margin: 0;
  width: calc( 50% - 5px );
  height: 50px;
  float: right;
}
.auth-form .eauth .eauth-service-id-linkedin_oauth2 a{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #55acef;
  position: relative;
}

.auth-form .eauth .eauth-service-id-linkedin_oauth2 a:before{
  display: none;
}
.auth-form .eauth .eauth-service-id-linkedin_oauth2 a:after{
  display: block;
  width: 16px;
  height: 16px;
  background: url("/images/in-icon.png");
  top: 50% !important;
  left: 50% !important;
  transform: translate3d(-50%, -50%, 0);
  content: '';
  margin: 0;
}

.pac-container {
   z-index:99999 !important; 
}

.hide {
    display:none;
}

.icons-hover{
  cursor:pointer !important;
}

.update-data {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}
.update-data .inner {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
}
.hide {
    display:none !important;
}

.post-view-container .view-post-items .view-post-item .stats .update,
.post-view-container .view-post-items .view-post-item .stats .delete{
    font-size: 14px;
    color: rgba(35, 29, 46, 0.6);
}
.post-view-container .view-post-items .view-post-item .stats .delete{
    display: inline-block;
    width: 16px;
    height: 18px;
    content: '';
    background: url(/images/icon/delete.png) center no-repeat;
    background-size: 95%;
    cursor:pointer;
    transform: translateY(4px);
    margin: 0 10px 0px 5px;
}
.post-view-container .view-post-items .view-post-item .stats .delete:hover{
    background: url(/images/icon/delete_active.png) center no-repeat;
    background-size: 95%;
    cursor:pointer;
}
.post-view-container .view-post-items .view-post-item .stats .update{
    display: inline-block;
    width: 18px;
    height: 18px;
    content: '';
    background: url(/images/icon/update.png) center no-repeat;
    background-size: 95%;
    cursor:pointer;
    transform: translateY(4px);
    margin: 0 5px 0px 10px;
}
.post-view-container .view-post-items .view-post-item .stats .update:hover{
    background: url(/images/icon/update_active.png) center no-repeat;
    background-size: 95%;
    cursor:pointer;
}

.post-sender-photo{
    display: inline-block;
    position:relative;
}
.post-sender-photo:after{
    content:'';
    position:absolute;
    display: block;
    width:15px;
    height:5px;
    bottom:2px;
    right:2px;
    background: url(/images/icon/arrow_trianglep.png) center no-repeat;
    background-size: 100%;
}

.js-image-change-block{
    background-color:red;
    margin-left:-9px;
    padding-left:9px;
    margin-top:-9px;
    padding-top:9px;
    margin-bottom:-9px;
    padding-bottom:9px;
    z-index: 9999;
    border-radius: 5px;
}

.js-image-change-block img:nth-child(2n) {
    margin-top:5px;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
    cursor:pointer !important;
}

.favorite-block .icon-star{
    cursor:pointer;
}

.favorite-block .icon-star i.active{
    color: #ffdb30;
}
.question-action-buttons .update, .question-action-buttons .delete {
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transform: translateY(4px);
    margin: 0 5px 0px 10px;
    padding:0px;
    background-size: 100% !important;
}

.question-action-buttons .update {
    background: url(/images/icon/update.png) center no-repeat;
}

.question-action-buttons .delete {
    background: url(/images/icon/delete.png) center no-repeat;
}
.question-action-buttons .delete:hover {
    background: url(/images/icon/delete_active.png) center no-repeat;
}
.question-action-buttons .update:hover {
    background: url(/images/icon/update_active.png) center no-repeat;
}
.question-content{
    margin-top: 9px;
}
.question-user-name{
    margin-left: 0 !important;
    padding-left: 5px !important;
}
.jconfirm .question-modal-container  .jconfirm-box div.jconfirm-closeIcon{
    right: 20px !important;
    font-size: 36px !important;
    top: 16px !important;
}
.question-modal-price{
    font-size: 16px !important;
    line-height: 20px;
}
.question-info-description{
    color: #231d2e;
    opacity: 0.9;
}
.questions-invite-view-btn{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 100%;
    max-width: 100px;
    /*height: 40px;*/
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
}
.my-ansvers-content tbody,
.questions-invite-title{
    font-family: 'Candara';
    font-weight: bold;
    color: #231d2e !important;
    font-size: 14px;
}
.question-info-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.questions-bids-img{
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px!important;
    margin-right: 6px;
}
.my-ansvers-content td .rating-container{
    height: 19px;
}
.show-answer-rating .rating-container .filled-stars,
.my-ansvers-content td .rating-container .filled-stars,
.questions-bids-rating .rating-container .filled-stars{
    color: #31e7c5;
    -webkit-text-stroke: 0px #777;
    text-shadow: 0px 0px #999;
}
.questions-bids-rating .rating-container .empty-stars{
    color: #a6a6a6;
}
.questions-bids-table-title{
    font-family: 'Candara';
    font-weight: normal;
    color: #989898;
    font-size: 15px;
    margin-bottom: 20px;
}
.questions-author-name{
    font-family: 'Candara';
    font-weight: bold;
    color: #231d2e;
    font-size: 14px;
}
.questions-bids-price{
    font-family: 'Candara';
    font-weight: bold;
    color: #231d2e;
    font-size: 15px;
}
.add-rating-btn,
.questions-admin-view{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 100%;
    height: 30px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
}
.add-rating-btn{
    width: 40%;
}
.show-answer-rating label.control-label{
    font-family: 'Candara';
    font-weight: bold;
    font-size: 18px;
}
.show-answer-modal-title{
    background-color: #f3f3f3;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Candara';
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 7px;
}
.show-answer-text{
    font-family: 'Candara';
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
}
.show-answer-rating{
    width: 100%;
    text-align: center;
}
.complete-pay-modal{
    font-size: 24px;
    font-weight: bold;
    font-family: "Candara";
    width: 100%;
    text-align: center;
}
.complete-pay-btn-got,
.complete-pay-btn{
    color: white !important;
    background-color: #31e7c5 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 70px;
    height: 30px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    line-height: 14px;
}
.complete-pay-btn-got{
    margin-top: 10px;
}
.complete-pay-btn-bat{
    color: white !important;
    background-color: #dc3545 !important;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candara';
    border-radius: 50px;
    width: 70px;
    height: 30px;
    box-shadow: 0 4px 12px rgba(61, 227, 196, 0.5) !important;
    text-transform: uppercase;
    line-height: 14px;
    margin-top: 10px;
}
@media (min-width: 576px){
    .custom-col-sm-1-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10.666667%;
        flex: 0 0 10.666667%;
        max-width: 10.666667%;
    }
    .custom-col-sm-2-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19.666667%;
        flex: 0 0 19.666667%;
        max-width: 19.666667%;
    }
}
@media (max-width: 400px){
    .questions-bids-table-title{
        text-align: center;
    }
    .questions-author-name{
        display: block;
        width: 100%;
    }
    .rating-content-style,
    .my-questions-modal-content{
        text-align: center;
    }
    .questions-bids-img{
        margin-right: 0;
    }
    .questions-search-apply-btn{
        margin-bottom: 10px;
    }
}
@media (max-width: 576px){
    .desktop-display-none{
        display: block;
    }
    .rents-right-block-c-s{
        position: relative !important;
        width: 100% !important;
        right: 0 !important;
        transform: translateX(0) !important;
        top: 0 !important;
        margin-bottom: 15px;
        min-height: 0 !important;
        padding: 21px 0 10px 0 !important;
    }
    .custom-r-h-search section.rents-search,
    section.rents-search,
    .custom-rents-search-cont section.rents-search{
        width: 100%;
        margin: 0 0 10px 0 !important;
    }
    .custom-my-requests section.rents-menu ul li > a,
    .custom-books-tabs > li > a{
        padding: 8px;
    }
    .rents-menu{
        margin: 0 !important;
    }
    .custom-my-requests .grid-view{
        padding-left: 0 !important;
    }
    .kv-grid-container{
        overflow-x: scroll;
    }
    .rents-table-my-book .kv-grid-container table th:nth-child(2){
        min-width: 80px;
    }
    .rents-table-my-book .kv-grid-container table th:nth-child(3){
        min-width: 115px;
    }
    .rents-table-my-book .kv-grid-container table th:nth-child(4){
        min-width: 100px;
    }
    .rents-table-my-book .kv-grid-container table th:nth-child(5){
        min-width: 100px;
    }
    .rents-table-my-book .kv-grid-container table th:nth-child(6){
        min-width: 80px;
    }

    .rents-table-my-book-r .kv-grid-container table th:nth-child(5){
        min-width: 80px;
    }
    .rents-house-my-requests-table .kv-grid-container table th:nth-child(5){
        min-width: 80px;
    }

    .kv-grid-container table th:nth-child(2){
        min-width: 80px;
    }
    .kv-grid-container table th:nth-child(3),
    .kv-grid-container table th:nth-child(4){
        min-width: 120px;
    }
    .kv-grid-container table th:nth-child(5){
        min-width: 370px;
    }
    .rents-house-my-booking .navbar-collapse{
        display: block;
    }
}